{% include 'header.html' %}


<div class="container_information">

    <div class="row d-flex justify-content-start">
        <a href="/">
            <img class="img_logo_home" src="/static/logo_financial.png">
        </a>
    </div>

    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="">

            <div class="row">
                <div class="col-md-12 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">
                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Project</legend>
                        </div>

                        <div class="row">
                            Description of web app
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-12 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Team</legend>
                        </div>

                        <div class="row">
                            Description of team (contacts and images)

                        </div>

                    </fieldset>
                </div>

            </div>

        </form>
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>
