{% include 'header.html' %}


<div class="container_information">

    <div class="row d-flex justify-content-start">
        <a href="/">
            <img class="img_logo_home" src="/static/logo_financial.png">
        </a>
    </div>

    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="">

            <div class="row">
                <div class="col-md-12 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">
                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Project</legend>
                        </div>

                        <div class="row">
                            Web-based Application is a software that can be accessed by users through
                            Internet and that can be allocated in a central server or in a user's local system.
                            The aim of this project, as a result of a growing passion for finance and informatics
                            through the years of my Specialisation Degree in Quantitative Finance and
                            Business Analytics, is to give to students and stakeholders the possibility
                            to put into practice some financial models. Moreover, web-based application
                            gives a straightforwardly access to the necessary financial information
                            anywhere and at any time, together with a common and user-friendly space for
                            the interaction with co-operators or people in general. It is characterized
                            by simplicity of use and implementation, and it can be easily customized.
                            Final objective of our project is to obtain an advanced, from the programming point of view,
                            Web-based Application accessible to Web-users by means of an external cloud server.
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-12 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Team</legend>
                        </div>

                        <div class="row">
                            The team consist of Drs. Laura di Stefano, Dr. Diego De Bortoli, Professors Dr. Gianluca Fusai
                            and Dr. Ioannis Kyriakou, supervisors of project,  who suggested us which models
                            to use and gave us the documentation to work on.
                        </div>

                    </fieldset>
                </div>

            </div>

        </form>
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>
