{% include 'header.html' %}

<h2>Asian Option</h2>

<h3> General Optimized Lower Bounds for Asian Options </h3> <br>
<div class="container">
    <form class="navbar-form" method="post" action="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class="row">

            <div class="row">
                <label> Input </label> <br/>
                <div class="row">
                    <div class="col-xs-1">
                        {{form.model_choice.label}}
                        {{form.model_choice}}
                    </div>
                </div>

                <div id="gaussian" class="row">

                    <div class="col-xs-2" {% if form.model_choice.data !='0' and form.model_choice.data !=None %}
                         style="display:none" {%endif%}>

                        $$\sigma $$
                        {{form.sigma_gaussian}}
                        {% if form.sigma_gaussian.errors %}
                        {% for error in form.sigma_gaussian.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div id="vg" class="row" {% if form.model_choice.data !='1' %} style="display:none" {%endif%}>

                    <div class="col-xs-2">
                        $$ v $$
                        {{form.kappa}}
                        {% if form.kappa.errors %}
                        {% for error in form.kappa.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\theta $$
                        {{form.theta}}
                        {% if form.theta.errors %}
                        {% for error in form.theta.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\sigma $$
                        {{form.sigma_vg}}
                        {% if form.sigma_vg.errors %}
                        {% for error in form.sigma_vg.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div id="heston" class="row" {% if form.model_choice.data !='2' %} style="display:none" {%endif%}>

                    <div class="col-xs-2">
                        $$\alpha $$
                        {{form.alpha_heston}}
                        {% if form.alpha_heston.errors %}
                        {% for error in form.alpha_heston.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\beta $$
                        {{form.beta_heston}}
                        {% if form.beta_heston.errors %}
                        {% for error in form.beta_heston.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\gamma $$
                        {{form.gamma_heston}}
                        {% if form.gamma_heston.errors %}
                        {% for error in form.gamma_heston.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\rho $$
                        {{form.rho_heston}}
                        {% if form.rho_heston.errors %}
                        {% for error in form.rho_heston.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\ V_{0} $$
                        {{form.volatility_t0}}
                        {% if form.volatility_t0.errors %}
                        {% for error in form.volatility_t0.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div id="nig" class="row" {% if form.model_choice.data !='3' %} style="display:none" {%endif%}>

                    <div class="col-xs-2">
                        $$ a $$
                        {{form.a_nig}}
                        {% if form.a_nig.errors %}
                        {% for error in form.a_nig.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$ b $$
                        {{form.b_nig}}
                        {% if form.b_nig.errors %}
                        {% for error in form.b_nig.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\delta $$
                        {{form.delta_nig}}
                        {% if form.delta_nig.errors %}
                        {% for error in form.delta_nig.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div id="cgmy" class="row" {% if form.model_choice.data !='4' %} style="display:none" {%endif%}>

                    <div class="col-xs-2">
                        $$ C $$
                        {{form.c}}
                        {% if form.c.errors %}
                        {% for error in form.c.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$ G $$
                        {{form.g}}
                        {% if form.g.errors %}
                        {% for error in form.g.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$ M $$
                        {{form.m}}
                        {% if form.m.errors %}
                        {% for error in form.m.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$ Y $$
                        {{form.y}}
                        {% if form.y.errors %}
                        {% for error in form.y.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div id="meixner" class="row" {% if form.model_choice.data !='5' %} style="display:none" {%endif%}>

                    <div class="col-xs-2">
                        $$ a $$
                        {{form.a_meixner}}
                        {% if form.a_meixner.errors %}
                        {% for error in form.a_meixner.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$ b $$
                        {{form.b_meixner}}
                        {% if form.b_meixner.errors %}
                        {% for error in form.b_meixner.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\delta $$
                        {{form.delta_meixner}}
                        {% if form.delta_meixner.errors %}
                        {% for error in form.delta_meixner.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div id="mjd" class="row" {% if form.model_choice.data !='6' %} style="display:none" {%endif%}>

                    <div class="col-xs-2">
                        $$\sigma $$
                        {{form.sigma_mjd}}
                        {% if form.sigma_mjd.errors %}
                        {% for error in form.sigma_mjd.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$ l $$
                        {{form.lam_mjd}}
                        {% if form.lam_mjd.errors %}
                        {% for error in form.lam_mjd.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\mu_{x} $$
                        {{form.mu_x_mjd}}
                        {% if form.mu_x_mjd.errors %}
                        {% for error in form.mu_x_mjd.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\sigma_{x} $$
                        {{form.sigma_x_mjd}}
                        {% if form.sigma_x_mjd.errors %}
                        {% for error in form.sigma_x_mjd.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div id="dejd" class="row" {% if form.model_choice.data !='7' %} style="display:none" {%endif%}>

                    <div class="col-xs-2">
                        $$\sigma $$
                        {{form.sigma_dejd}}
                        {% if form.sigma_dejd.errors %}
                        {% for error in form.sigma_dejd.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$ l $$
                        {{form.lam_dejd}}
                        {% if form.lam_dejd.errors %}
                        {% for error in form.lam_dejd.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\rho $$
                        {{form.rho_dejd}}
                        {% if form.rho_dejd.errors %}
                        {% for error in form.rho_dejd.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\eta_{1} $$
                        {{form.eta1_dejd}}
                        {% if form.eta1_dejd.errors %}
                        {% for error in form.eta1_dejd.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        $$\eta_{2} $$
                        {{form.eta2_dejd}}
                        {% if form.eta2_dejd.errors %}
                        {% for error in form.eta2_dejd.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div id="cev" class="row" {% if form.model_choice.data !='8' %} style="display:none" {%endif%}>

                    <div class="col-xs-2">
                        $$\beta $$
                        {{form.beta_cev}}
                        {% if form.beta_cev.errors %}
                        {% for error in form.beta_cev.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <br/>

                <div class="row">

                    <div class="col-xs-2">
                        {{form.price.label}}
                        {{form.price}}
                        {% if form.price.errors %}
                        {% for error in form.price.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <!--\((\%) \) is a Mathjax symbol for % -->

                    <div class="col-xs-2">
                        {{form.risk_free.label}} \((\%) \)
                        {{form.risk_free}}
                        {% if form.risk_free.errors %}
                        {% for error in form.risk_free.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <label> Contract Parameters</label>

                <div class="row">
                    <div class="col-xs-2">
                        {{form.time.label}}
                        {{form.time}}
                        {% if form.time.errors %}
                        {% for error in form.time.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-xs-2">
                        {{form.step.label}}
                        {{form.step}}
                        {% if form.step.errors %}
                        {% for error in form.step.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-xs-2">
                        {{form.strike.label}}
                        {{form.strike}}
                        {% if form.strike.errors %}
                        {% for error in form.strike.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
            <br/>

            <div class="row">
                <label> FFT Implementation Parameters </label>

                <div class="row">
                    <div class="col-xs-2">
                        {{form.grid.label}}
                        {{form.grid}}
                        {% if form.grid.errors %}
                        {% for error in form.grid.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-xs-2">
                        {{form.upper_range.label}}
                        {{form.upper_range}}
                        {% if form.upper_range.errors %}
                        {% for error in form.upper_range.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-xs-2">
                        {{form.lower_range.label}}
                        {{form.lower_range}}
                        {% if form.lower_range.errors %}
                        {% for error in form.lower_range.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-xs-2">
                        {{form.dump.label}}
                        {{form.dump}}
                        {% if form.dump.errors %}
                        {% for error in form.dump.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        {{form.tolerance.label}}
                        {{form.tolerance}}
                        {% if form.tolerance.errors %}
                        {% for error in form.tolerance.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <br/>

                {{form.button_compute}}

            </div>

        </div>


    </form>

    {% if plot_lower_bound != None %}

    <div class="row">
        <label>Results: </label>


        <div class="row">

            <div id="plot_lower_bound" class="col-6 col-xs-6">
                {{plot_lower_bound[0]|safe}}
                {{plot_lower_bound[1]|safe}}
            </div>
            <div class="col-6 col-xs-6">
                <table>
                    <thead>
                    <th>Lower Bound</th>
                    <th>Value</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Optimal Strike</td>
                        <td>{{optimal_strike}}</td>
                    </tr>
                    <tr>
                        <td>Optimal Lower Bound</td>
                        <td>{{optimal_lower_bound}}</td>
                    </tr>
                    <tr>
                        <td>Strike</td>
                        <td>{{form.strike.data}}</td>
                    </tr>
                    <tr>
                        <td>Lower Bound Strike</td>
                        <td>{{lower_bound_strike}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        {%endif%}
    </div>

</div>

{% include 'footer.html' %}

<script charset="utf-8" type="text/javascript">
    $(function(){
        var select_model = $('#model_choice');
        var gaussian = $('#gaussian');
        var vg = $('#vg');
        var heston = $('#heston');
        var nig = $('#nig');
        var cgmy = $('#cgmy');
        var meixner = $('#meixner');
        var mjd = $('#mjd')
        var dejd = $('#dejd')
        var cev = $('#cev')

        select_model.on('change', function() {
            if (select_model.val() == '0') {
                gaussian.show();
                vg.hide();
                heston.hide();
                nig.hide();
                cgmy.hide();
                meixner.hide();
                mjd.hide();
                dejd.hide();
                cev.hide();

            } else if (select_model.val() == '1') {
                gaussian.hide();
                vg.show();
                heston.hide();
                nig.hide();
                cgmy.hide();
                meixner.hide();
                mjd.hide();
                dejd.hide();
                cev.hide();

            } else if (select_model.val() == '2'){
                gaussian.hide();
                vg.hide();
                heston.show();
                nig.hide();
                cgmy.hide();
                meixner.hide();
                mjd.hide();
                dejd.hide();
                cev.hide();

            } else if (select_model.val() == '3') {
                gaussian.hide();
                vg.hide();
                heston.hide();
                nig.show();
                cgmy.hide();
                meixner.hide();
                mjd.hide();
                dejd.hide();
                cev.hide();

            } else if (select_model.val() == '4') {
                gaussian.hide();
                vg.hide();
                heston.hide();
                nig.hide();
                cgmy.show();
                meixner.hide();
                mjd.hide();
                dejd.hide();
                cev.hide();

            } else if (select_model.val() == '5') {
                gaussian.hide();
                vg.hide();
                heston.hide();
                nig.hide();
                cgmy.hide();
                meixner.show();
                mjd.hide();
                dejd.hide();
                cev.hide();

            } else if (select_model.val() == '6') {
                gaussian.hide();
                vg.hide();
                heston.hide();
                nig.hide();
                cgmy.hide();
                meixner.hide();
                mjd.show();
                dejd.hide();
                cev.hide();

            } else if (select_model.val() == '7'){
                gaussian.hide();
                vg.hide();
                heston.hide();
                nig.hide();
                cgmy.hide();
                meixner.hide();
                mjd.hide();
                dejd.show();
                cev.hide();

            } else {
                gaussian.hide();
                vg.hide();
                heston.hide();
                nig.hide();
                cgmy.hide();
                meixner.hide();
                mjd.hide();
                dejd.hide();
                cev.show();
            }
        });
    });

</script>
</body>
</html>
