<footer>
    <hr class="footer_hr">
    <nav class="footer">
        <div class="row">
            <div class="col d-flex justify-content-start">
                <img class="img_logo_cass" src="/static/logo_cass.png">
            </div>
            <div class="col d-flex justify-content-end">
                <div class="col-xs-2 ">
                    <a class="nav-link" href="/about">About</a>
                </div>

                <div class="col-xs-2">
                    <a class="nav-link" href="/terms_service">Terms of Service</a>
                </div>
                <div class="col-xs-2">
                    <a class="nav-link" href="/privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </nav>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/hideshowpassword/2.0.8/hideShowPassword.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>

<script>
  $( function() {
    $('#popup_table').popup();
    $('#popup_table').popup('addclosebutton');
  });

</script>

<script src="https://unpkg.com/xlsx@0.14.3/dist/xlsx.full.min.js"></script>

<!--<script src="/static/file_saver.min.js"></script>-->

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/FileSaver.js"></script>

<script src="https://unpkg.com/tableexport@5.2.0/dist/js/tableexport.js"></script>

{% if table_export is defined %}
<script>

var exportTable = document.getElementById('table_export');

var instance = new TableExport(exportTable, {
    formats: ['xlsx'],
    exportButtons: false,
    filename: "computed_data",
    trimWhitespace: true,
    sheetname: "data"
});

var exportData = instance.getExportData();

var xlsxData = exportData.table_export.xlsx;

var buttonExportTable = document.getElementById('button_export_table');

buttonExportTable.addEventListener('click', function (e) {
    //                   // data          // mime              // name              // extension
    instance.export2file(xlsxData.data, xlsxData.mimeType, xlsxData.filename, xlsxData.fileExtension, xlsxData.merges,
    xlsxData.RTL, xlsxData.sheetname);
});

</script>
{% endif %}

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>