<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150007120-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150007120-1');

    </script>

    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" type="text/css"/>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script type="text/javascript">Bokeh.set_log_level("info");</script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css" rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/mathjs/dist/math.min.js"></script>

    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link href="/static/basic.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
{% if index is not defined %}
<header>
    <nav class="navbar navbar-expand-xl navbar-dark">
        <a class="navbar-brand" href="/">Finance Web App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" id="navbarDropdown">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Shimko Method
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/shimko_theoretical">
                            Shimko Theoretical
                        </a>
                        <a class="dropdown-item" href="/shimko_market">
                            Shimko Market
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Cos Method
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/levy_process">
                            Lévy Process
                        </a>
                        <a class="dropdown-item" href="/heston_method">
                            Heston Method
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Asian & Spread
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/asian_option">
                            Asian Option
                        </a>
                        <a class="dropdown-item" href="/spread_option">
                            Spread Option
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/term_structure">
                        Term Structure Fitting
                    </a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="/statistical_analysis">
                       Statistical Analysis
                    </a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="/portfolio_analysis">
                       Portfolio Analysis
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#">
                       Temperature
                    </a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="/#">
                       Barrier Option
                    </a>
                </li>

            </ul>
            <div class="dropdown-divider"></div>

            <span class="navbar-text">
                {% if user is defined%}
                    {% if user.is_authenticated %}
                    <a class="mx-2">Logged in as {{user.username}}</a>
                        {% if index is not defined %}
                        <a class="mx-2" href="{{request.path}}/old">Previous simulations</a>
                        {% endif %}
                    <a class="mx-2" href="/logout">Logout</a>
                    {% else %}
                    <a class="mx-2" href="/login">Login</a>|<a class="mx-2" href="/reg">Register</a>
                    {% endif %}
                {% else %}
                    {% if login is defined %}
                    <a class="mx-2" href="/reg">Register</a>
                    {% elif register is defined %}
                    <a class="mx-2" href="/login">Login</a>
                    {% elif old is defined %}
                    <a class="mx-2" href={{back_url}}> Back to the Model </a>
                    {% endif %}
                {% endif %}

            </span>
        </div>
    </nav>
    <hr>
</header>
{% endif %}

