{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">COS Method - Heston Model</h1>
            <h2 class="lead text-center text-light animated fadeInDown">A pricing method for European option based on
                Fourier-Cosine series expansions: </h2>
        </div>
    </div>
</div>

<!-- CONTAINER -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="">

            <!-- FIRST ROW -->
            <div class="row">

                <!-- Parameters -->
                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft custom-overlay">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Model Parameters</legend>
                        </div>

                        <!-- MU -->
                        <div class="row">
                            <div class="col">
                                $$\mu $$
                                {{form.mu}}
                                {% if form.mu.errors %}
                                {% for error in form.mu.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- V -->
                        <div class="row">
                            <div class="col">
                                $$ v_{0} $$
                                {{form.volatility_t0}}
                                {% if form.volatility_t0.errors %}
                                {% for error in form.volatility_t0.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- HAT -->
                        <div class="row">
                            <div class="col">
                                $$\hat{v} $$
                                {{form.volatility_hat}}
                                {% if form.volatility_hat.errors %}
                                {% for error in form.volatility_hat.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- CHI -->
                        <div class="row">
                            <div class="col">
                                $$\chi $$
                                {{form.chi}}
                                {% if form.chi.errors %}
                                {% for error in form.chi.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- RHO -->
                        <div class="row">
                            <div class="col">
                                $$\rho $$
                                {{form.rho}}
                                {% if form.rho.errors %}
                                {% for error in form.rho.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- LAMBDA -->
                        <div class="row">
                            <div class="col">
                                $$\lambda $$
                                {{form.lam}}
                                {% if form.lam.errors %}
                                {% for error in form.lam.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </fieldset>
                </div> <!-- /col parameters -->


                <!-- OTHER FOUR -->
                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight custom-overlay">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Contract Parameters</legend>
                        </div>

                        <!-- SPOT PRICE -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.price.label}}
                                {{form.price}}
                                {% if form.price.errors %}
                                {% for error in form.price.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- TIME TO EXPIRATION -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.time.label}}
                                {{form.time}}
                                {% if form.time.errors %}
                                {% for error in form.time.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- RISK FREE -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.risk_free.label}} \((\%) \)
                                {{form.risk_free}}
                                {% if form.risk_free.errors %}
                                {% for error in form.risk_free.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- DIVIDEND YELD -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.dividend_yield.label}} \((\%) \)
                                {{form.dividend_yield}}
                                {% if form.dividend_yield.errors %}
                                {% for error in form.dividend_yield.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- STRIKE MIN -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.strike_min.label}}
                                {{form.strike_min}}
                                {% if form.strike_min.errors %}
                                {% for error in form.strike_min.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- STRIKE MAX -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.strike_max.label}}
                                {{form.strike_max}}
                                {% if form.strike_max.errors %}
                                {% for error in form.strike_max.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- SOME PLOT -->
                        <div class="row mb-1 mt-1">
                            <div class="col mb-2">
                                {{form.call_put.label}}
                                {{form.call_put}}
                                {% if form.call_put.errors %}
                                {% for error in form.call_put.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div> <!-- /col other four -->

            </div>


            <!-- COMPUTE -->
            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>
        </form>
    </div>


    <div class="row p-3 d-flex justify-content-center">
        {% if plot_return_underlying_distribution != None %}
        <div class="col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <table class="table">
                    <div class="row border-bottom mb-2 pb-1">
                        <legend>Table of moments</legend>
                    </div>
                    <thead class="thead-light">

                    <th scope="col"> Mean</th>
                    <th scope="col"> Variance</th>
                    <th scope="col"> Skewness</th>
                    <th scope="col"> Kurtosis</th>
                    </thead>
                    <tbody>
                    <tr>

                        <td>{{mean}}</td>
                        <td>{{variance}}</td>
                        <td>{{skewness}}</td>
                        <td>{{kurtosis}}</td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>


        <div class="col-12 d-flex mb-3 justify-content-center">
            <div id="button_view_details" class="popup_table_open">
                {{form.button_view_details}}
            </div>
        </div>

        <div class="unresponsive col-12 plot">
            <div id="plot_return_underlying_distribution"
                 class="unresponsive shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
                {{plot_return_underlying_distribution[0]|safe}}
                {{plot_return_underlying_distribution[1]|safe}}
            </div>
        </div>
        <div class="unresponsive col-12 plot">
            <div id="plot_implied_volatility" class="unresponsive shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
                {{plot_implied_volatility[0]|safe}}
                {{plot_implied_volatility[1]|safe}}
            </div>
            {%endif%}
        </div>
    </div>

    <div id="popup_table" style="display:none">

        <div class="row border-bottom mb-2 pb-1">
            <legend>Table of volatility and prices</legend>
        </div>
        <table class="table" id="table_export">
            <thead class="thead-light">
            <th scope="col"> Strike</th>
            <th scope="col"> Prices</th>
            <th scope="col"> Implied Volatility</th>
            </thead>
            <tbody>
            {%for i in range(number_of_strike)%}
            <tr>
                <td>{{strike[i]}}</td>
                <td>{{option_prices[i]}}</td>
                <td>{{implied_volatility[i]}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>

        <div class="row d-flex justify-content-center">
            {{form.button_export_table}}
        </div>
    </div>
</div>
</div>

{% include 'footer.html' %}

</body>
</html>
