{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">COS Method - Heston Model</h1>
            <h2 class="lead text-center text-light animated fadeInDown">A pricing method for European option based on
                Fourier-Cosine series expansions: </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="">

            <div class="row">
                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Model Parameters</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                <label> $$\mu $$ </label>
                                {{form.mu}}
                                {% if form.mu.errors %}
                                {% for error in form.mu.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                <label> $$ v_{0} $$ </label>
                                {{form.volatility_t0}}
                                {% if form.volatility_t0.errors %}
                                {% for error in form.volatility_t0.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                <label> $$\hat{v} $$ </label>
                                {{form.volatility_hat}}
                                {% if form.volatility_hat.errors %}
                                {% for error in form.volatility_hat.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                <label> $$\chi $$ </label>
                                {{form.chi}}
                                {% if form.chi.errors %}
                                {% for error in form.chi.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                <label> $$\rho $$ </label>
                                {{form.rho}}
                                {% if form.rho.errors %}
                                {% for error in form.rho.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                <label> $$\lambda $$ </label>
                                {{form.lam}}
                                {% if form.lam.errors %}
                                {% for error in form.lam.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Contract Parameters</legend>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.price.label}}
                                {{form.price}}
                                {% if form.price.errors %}
                                {% for error in form.price.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.time.label}}
                                {{form.time}}
                                {% if form.time.errors %}
                                {% for error in form.time.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.risk_free.label}} \((\%) \)
                                {{form.risk_free}}
                                {% if form.risk_free.errors %}
                                {% for error in form.risk_free.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.dividend_yield.label}} \((\%) \)
                                {{form.dividend_yield}}
                                {% if form.dividend_yield.errors %}
                                {% for error in form.dividend_yield.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.strike_min.label}}
                                {{form.strike_min}}
                                {% if form.strike_min.errors %}
                                {% for error in form.strike_min.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.strike_max.label}}
                                {{form.strike_max}}
                                {% if form.strike_max.errors %}
                                {% for error in form.strike_max.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.call_put.label}}
                                {{form.call_put}}
                                {% if form.call_put.errors %}
                                {% for error in form.call_put.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>
        </form>
    </div>

    <div class="row p-3 d-flex justify-content-center">
        {% if plot_return_underlying_distribution != None %}
        <div class="col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <table class="table table-striped">
                    <div class="row border-bottom mb-2 pb-1">
                        <legend>Table of Moments</legend>
                    </div>
                    <thead>

                    <th scope="col"> Mean</th>
                    <th scope="col"> Variance</th>
                    <th scope="col"> Skewness</th>
                    <th scope="col"> Kurtosis</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{mean}}</td>
                        <td>{{variance}}</td>
                        <td>{{skewness}}</td>
                        <td>{{kurtosis}}</td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>

        <div class="col-12 d-flex mb-3 justify-content-center">
            <div id="button_view_details" class="popup_table_open">
                {{form.button_view_details}}
            </div>
        </div>

        <div class="unresponsive col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Pdf Underlying Asset</legend>
                </div>
                <div id="plot_return_underlying_distribution" class="d-flex justify-content-center">
                    {{plot_return_underlying_distribution[0]|safe}}
                    {{plot_return_underlying_distribution[1]|safe}}
                </div>
            </fieldset>
        </div>

        <div class="unresponsive col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied Volatility Profile</legend>
                </div>
                <div id="plot_implied_volatility" class="d-flex justify-content-center">
                    {{plot_implied_volatility[0]|safe}}
                    {{plot_implied_volatility[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    <div id="popup_table" style="display:none">

        <div class="row border-bottom mb-2 pb-1">
            <legend>Table of Volatility & Prices</legend>
        </div>
        <table class="table table-striped" id="table_export">
            <thead>
            <th scope="col"> Strike</th>
            <th scope="col"> Prices</th>
            <th scope="col"> Implied Volatility</th>
            </thead>
            <tbody>
            {%for i in range(number_of_strike)%}
            <tr>
                <td>{{strike[i]}}</td>
                <td>{{option_prices[i]}}</td>
                <td>{{implied_volatility[i]}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>

        <div class="row d-flex justify-content-center">
            {{form.button_export_table}}
        </div>
    </div>
</div>
{% endif%}

{% include 'footer.html' %}

</body>
</html>
