{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4 shimko_title_container">
            <h1 class="title text-center text-light">Implied Distribution - Market Application</h1>
            <h2 class="lead text-center text-light animated fadeInDown subtitle_shimko">This tool calculates the
                risk neutral density implied in market option prices to determine the probability that future prices
                will lie in a given range <b>based on market prices</b></h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="" enctype="multipart/form-data">
            <div class="example_file">
                <a href="/static/tutorial_model/implied_distribution_market_application_tutorial.pdf">
                    Tutorial File: Implied Distribution Market Application.pdf</a><br/>
                <a href="/static/download_example/implied_distribution_market_application_dataset.xlsx">
                    Excel Template File: Implied Distribution Market Application.xlsx</a>
            </div>
            <div class="row">
                <div class="col-md col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Market Data & Parameters</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.file_data.label}}
                                {{form.file_data}}
                                {% if form.file_data.errors %}
                                {% for error in form.file_data.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1 container_model">
                                {{form.file_name.label}}
                                <div id="icon_help_dataset">
                                    <img src="/static/icon_help.png">
                                    <div class="model_formula" id="help_dataset">
                                        To identify the dataset
                                    </div>
                                </div>
                                {{form.file_name}}
                                {% if form.file_name.errors %}
                                {% for error in form.file_name.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col mb-1">
                                {{form.price.label}}
                                {{form.price}}
                                {% if form.price.errors %}
                                {% for error in form.price.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.risk_dividend.label}}
                                {{form.risk_dividend}}
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div id="risk_free" class="col-md col-12" {% if form.risk_dividend.data !='0' %} style="display:none"
                     {%endif%}>
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Interest Rate & Dividend Yield</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.risk_free.label}}
                                {{form.risk_free}}
                                {% if form.risk_free.errors %}
                                {% for error in form.risk_free.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.div_yield.label}}
                                {{form.div_yield}}
                                {% if form.div_yield.errors %}
                                {% for error in form.div_yield.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-md col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown ">
                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Option Type</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.call_put_flag}}
                                {% if form.call_put_flag.errors %}
                                {% for error in form.call_put_flag.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Plot Type</legend>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.plot_choice}}
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>

            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>

        </form>
    </div>

    <div class="row d-flex justify-content-center">
        {% if compute_not_allowed %}
        <div class="alert alert-warning">
            <strong>Warning!</strong>
            Register to Continue
        </div>
        {% endif %}
    </div>

    {% if plot_implied_volatility != None %}
    <div class="row d-flex justify-content-center">

        <div class="col-md-4 col-12">
            <fieldset class="shadow-sm p-3 bg-white mb-2 rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Results</legend>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Fitted Volatility Smile </h6>
                        \(a_{0}+a_{1}\cdot k+a_{2}\cdot k^{2}\)
                        <hr>
                        <div class="row d-flex flex-column">
                            <span class="font-weight-light mb-1"> \(a_{0}\): {{a0}}</span>
                            <span class="font-weight-light mb-1"> \(a_{1}\): {{a1}}</span>
                            <span class="font-weight-light mb-1"> \(a_{2}\): {{a2}}</span>
                            <span class="font-weight-light mb-1"> \(R^{2}\): {{r2}}</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col d-flex mb-3 justify-content-center">
                        <div id="button_view_details" class="popup_table_open">
                            {{form.button_view_details}}
                        </div>
                    </div>
                </div>
            </fieldset>
            {%if form.risk_dividend.data == '1'%}
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Model Details</legend>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row d-flex flex-column">
                            <span class="font-weight-light mb-1"> Interest Rate \((\%)\): {{risk_free}}</span>
                            <span class="font-weight-light mb-1"> Dividend Yield \((\%)\): {{div_yield}}</span>
                        </div>
                    </div>
                </div>
            </fieldset>
            {%endif%}
        </div>

        <div class="col-md-8 col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Kolmogorov Smirnov Test</legend>
                </div>
                <table class="table table-striped">
                    <thead>
                    <th scope="col"></th>
                    <th scope="col"> Cdf Prices</th>
                    <th scope="col"> Cdf Returns</th>
                    </thead>

                    <tbody>
                    <tr>
                        <th> Statistic Value</th>
                        <td> {{statistic_prices}}</td>
                        <td> {{statistic_returns}}</td>
                    </tr>
                    <tr>
                        <th> PValue</th>
                        <td> {{pvalue_prices}}</td>
                        <td> {{pvalue_returns}}</td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        {%if sim_id != None %}
        <div>
            <a href="/download_shimko_market_data/{{sim_id}}" class="download_data">
                Click here to download the implicit values</a>
        </div>
        {% endif %}
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied Volatility Profile</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_implied_volatility[0]|safe}}
                    {{plot_implied_volatility[1]|safe}}
                </div>
            </fieldset>
        </div>

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied CEQ Returns Distribution</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_return_distribution[0]|safe}}
                    {{plot_return_distribution[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    {%if plot_index_distribution != None%}
    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied CEQ Index Distribution</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_index_distribution[0]|safe}}
                    {{plot_index_distribution[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>
    {%endif%}

    {%if plot_index_cdf != None%}
    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied CEQ Prices CDF</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_index_cdf[0]|safe}}
                    {{plot_index_cdf[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>
    {%endif%}

    {%if plot_return_cdf != None%}
    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied CEQ Returns CDF</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_return_cdf[0]|safe}}
                    {{plot_return_cdf[1]|safe}}
                </div>
            </fieldset>
        </div>

    </div>
    {% endif %}
    {% endif %}
</div>

<div id="popup_table">
    <div class="row border-bottom mb-2 pb-1">
        <legend>Table of moments</legend>
    </div>
    <div>
        <table class="table table-striped table-hover" id="table_export">
            <thead>
            <th scope="col"> Description</th>
            <th scope="col"> Ceq</th>
            <th scope="col"> LogNormal</th>
            <th scope="col"> Ceq Return</th>
            <th scope="col"> Normal</th>
            </thead>
            <tbody>
            <tr>
                <th> Area</th>
                <td> {{area_prices}}</td>
                <td> 1</td>
                <td> {{area_returns}}</td>
                <td> 1</td>
            </tr>
            <tr>
                <th> Mean</th>
                <td> {{expected_price}}</td>
                <td> {{expected_price}}</td>
                <td> {{m1_returns}}</td>
                <td> {{m1_returns}}</td>
            </tr>
            <tr>
                <th> Variance</th>
                <td> {{sigma2_price}}</td>
                <td> {{sigma2_price}}</td>
                <td> {{m2_returns}}</td>
                <td> {{m2_returns}}</td>
            </tr>
            <tr>
                <th> Skewness</th>
                <td> {{skewness_prices}}</td>
                <td> {{skewness_prices_log_n}}</td>
                <td> {{skewness_log_returns}}</td>
                <td> {{skewness_normal}}</td>
            </tr>
            <tr>
                <th> Kurtosis</th>
                <td> {{kurtosis_prices}}</td>
                <td> {{kurtosis_prices_log_n}}</td>
                <td> {{kurtosis_log_returns}}</td>
                <td> {{kurtosis_normal}}</td>
            </tr>
            </tbody>
        </table>
        <hr>
    </div>
    <div class="row d-flex justify-content-center">
        {{form.button_export_table}}
    </div>
</div>

{% include 'footer.html' %}

<script charset="utf-8" type="text/javascript">
    $(function(){
        var select_risk_dividend = $('#risk_dividend');
        var risk_free = $('#risk_free');

        select_risk_dividend.on('click', function() {
            if ($('[name=risk_dividend]:radio:checked').val() == '0') {
                risk_free.show();
            } else {
                risk_free.hide();
            }
        });

        var help_dataset = $('#help_dataset');
        var icon_help_dataset = $('#icon_help_dataset');
         icon_help_dataset.on('mouseenter', function(){
            help_dataset.show();
        });

        icon_help_dataset.on('mouseleave', function() {
            help_dataset.hide();
        });
    });





</script>
</body>
</html>