{% include 'header.html' %}

{% if just_registered == '1' %}
<div class="alert alert-success">
    <strong>Success!</strong>
    Thank you for your registration
</div>
{% endif %}

<div class="container_home" id="home">

    <div class="row d-flex justify-content-end">
            <span class="text-white">
                {% if user is defined%}
                    {% if user.is_authenticated %}
                    Logged in as {{user.username}}
                    <a class="mx-2" href="/logout">Logout</a>
                    {% endif %}
                {% endif %}
            </span>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start">
            <img class="img_logo_home" src="/static/logo_financial.png">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start description_project">
            <p>
                Description of web application <br/>
                <a class="link_about" href="/about">Read More...</a>
            </p>
        </div>
        <div class="col d-flex justify-content-end">
            <img class="img_screen_home" src="/static/screen_webapp.png">
        </div>
    </div>

    <div class="row d-flex justify-content-center">

        <div class="alert alert-warning">
            <strong>Warning!</strong>
            Site under construction. Not all pages work
        </div>

        <form>
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft">
                        <div class="row border-bottom mb-2 pb-1">
                            <div class="col-6 title_container">
                                <img class="img_icon" src="/static/icon_bar_chart.png">
                            </div>
                            <div class="col-6 title_container">
                                <legend>Option Application</legend>
                            </div>

                        </div>
                        <div class="project_list">
                            <div class="row">
                                <div class="col mb-1 shimko_method">
                                    <a class="line_text"> Implied Distribution</a>
                                    <div class="option_shimko" style="display:none">
                                        <a class="shimko_link" href="/shimko_theoretical">Illustration</a> |
                                        <a class="shimko_link" href="/shimko_market">Market Application</a>
                                    </div>
                                    <div class="line_button"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-1 cos_method">
                                    <a class="line_text"> Plain Vanilla Options</a>
                                    <div class="option_cos" style="display:none">
                                        <a class="cos_link" href="/levy_process">Lévy Processes</a> |
                                        <a class="cos_link" href="/heston_method">Heston Model</a>
                                    </div>
                                    <div class="line_button"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-1">
                                    <a class="line_text" href="asian_option"> Asian Options</a>
                                    <div class="line_button"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-1">
                                    <a class="line_text" href="spread_option"> Spread Option</a>
                                    <div class="line_button"></div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <div class="col-lg-3 col-md-6">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft">
                        <div class="row border-bottom mb-2 pb-1">
                            <div class="col-6 title_container">
                                <img class="img_icon" src="/static/icon_yield.png">
                            </div>
                            <div class="col-6 title_container">
                                <legend>Yield Curve</legend>
                            </div>
                        </div>
                        <div class="project_list">
                            <div class="row">
                                <div class="col mb-1">
                                    <a class="line_text" href="term_structure"> Term Structure Fitting </a>
                                    <div class="line_button"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-3 col-md-6">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight">
                        <div class="row border-bottom mb-2 pb-1">
                            <div class="col-6 title_container">
                                <img class="img_icon" src="/static/icon_thermometer.png">
                            </div>
                            <div class="col-6 title_container">
                                <legend>Temperature</legend>
                            </div>
                        </div>
                        <div class="project_list">
                            <div class="row">
                                <div class="col mb-1">
                                    <a class="line_text" href="#"> Temperature </a>
                                    <div class="line_button"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-3 col-md-6">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">
                        <div class="row border-bottom mb-2 pb-1">
                            <div class="col-6 title_container">
                                <img class="img_icon" src="/static/icon_portfolio.png">
                            </div>
                            <div class="col-6 title_container inline">
                                <legend>Portfolio Analysis</legend>
                            </div>
                        </div>
                        <div class="project_list">
                            <div class="row">
                                <div class="col mb-1">
                                    <a class="line_text" href="statistical_analysis"> Return Data Statistics</a>
                                    <div class="line_button"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-1">
                                    <a class="line_text" href="portfolio_analysis"> Portfolio Construction </a>
                                    <div class="line_button"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>

    </div>

    <div class="row d-flex justify-content-center button_container">
        <div class="col-12 mt-5">
            <span>
                {% if user is defined%}
                    {% if not user.is_authenticated %}
                    <a class="mx-2 link_user animated fadeInDown" href="/reg">Register</a>
                    <a class="mx-2 link_user animated fadeInDown" href="/login">Login</a>
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </div>

</div>
{% include 'footer.html' %}

<script charset="utf-8" type="text/javascript">
    $(function(){
        var shimko_method = $('.shimko_method');
        var option_shimko = $('.option_shimko');
        var cos_method = $('.cos_method');
        var option_cos = $('.option_cos');

        shimko_method.on('mouseenter', function(){
            option_shimko.show();
        });
        shimko_method.on('mouseleave', function(){
            option_shimko.hide();
        });

        cos_method.on('mouseenter', function(){
            option_cos.show();
        });
        cos_method.on('mouseleave', function(){
            option_cos.hide();
        });
    });











</script>

</body>
</html>