{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">COS Method - Lévy Process</h1>
            <h2 class="lead text-center text-light animated fadeInDown">A pricing method for European option based on
                Fourier-Cosine series expansions</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="">

            <div class="row">
                <div class="col-md-4 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Model Parameters</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.type_choice.label}}
                                {{form.type_choice}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu}}
                                        {% if form.mu.errors %}
                                        {% for error in form.mu.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" id="normal" {% if form.type_choice.data !='0' and form.type_choice !=None
                                 %}
                                 style="display:none" {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_normal.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_normal}}
                                        {% if form.sigma_normal.errors %}
                                        {% for error in form.sigma_normal.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="vg" {% if form.type_choice.data !='1' %}
                                 style="display:none" {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_vg.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_vg}}
                                        {% if form.sigma_vg.errors %}
                                        {% for error in form.sigma_vg.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.kappa_vg.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.kappa_vg}}
                                        {% if form.kappa_vg.errors %}
                                        {% for error in form.kappa_vg.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.theta_vg.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.theta_vg}}
                                        {% if form.theta_vg.errors %}
                                        {% for error in form.theta_vg.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="nig" {% if form.type_choice.data !='2' %}
                                 style="display:none" {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_nig.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_nig}}
                                        {% if form.sigma_nig.errors %}
                                        {% for error in form.sigma_nig.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.kappa_nig.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.kappa_nig}}
                                        {% if form.kappa_nig.errors %}
                                        {% for error in form.kappa_nig.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.theta_nig.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.theta_nig}}
                                        {% if form.theta_nig.errors %}
                                        {% for error in form.theta_nig.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="cgmy" {% if form.type_choice.data !='3' %}
                                 style="display:none"
                                 {%endif%}>

                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.c.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.c}}
                                        {% if form.c.errors %}
                                        {% for error in form.c.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.g.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.g}}
                                        {% if form.g.errors %}
                                        {% for error in form.g.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.m.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.m}}
                                        {% if form.m.errors %}
                                        {% for error in form.m.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.y.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.y}}
                                        {% if form.y.errors %}
                                        {% for error in form.y.errors %}
                                        <div style="color: red;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-4 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Contract Parameters</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.price.label}}
                                {{form.price}}
                                {% if form.price.errors %}
                                {% for error in form.price.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.time.label}}
                                {{form.time}}
                                {% if form.time.errors %}
                                {% for error in form.time.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.risk_free.label}} \((\%) \)
                                {{form.risk_free}}
                                {% if form.risk_free.errors %}
                                {% for error in form.risk_free.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.dividend_yield.label}} \((\%) \)
                                {{form.dividend_yield}}
                                {% if form.dividend_yield.errors %}
                                {% for error in form.dividend_yield.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-4 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Strike & Call-Put Selector</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.strike_min.label}}
                                {{form.strike_min}}
                                {% if form.strike_min.errors %}
                                {% for error in form.strike_min.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.strike_max.label}}
                                {{form.strike_max}}
                                {% if form.strike_max.errors %}
                                {% for error in form.strike_max.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.call_put.label}}
                                {{form.call_put}}
                                {% if form.call_put.errors %}
                                {% for error in form.call_put.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>
        </form>
    </div>

    <div class="row p-3 d-flex justify-content-center">
        {% if plot_return_underlying_distribution != None %}
        <div class="col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <table class="table table-striped">
                    <div class="row border-bottom mb-2 pb-1">
                        <legend>Table of Moments</legend>
                    </div>
                    <thead>
                    <th scope="col"> Model</th>
                    <th scope="col"> Mean</th>
                    <th scope="col"> Variance</th>
                    <th scope="col"> Skewness</th>
                    <th scope="col"> Kurtosis</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td> {{dict(form.type_choice.choices).get(form.type_choice.data)}}</td>
                        <td> {{mean}}</td>
                        <td> {{variance}}</td>
                        <td> {{skewness}}</td>
                        <td> {{kurtosis}}</td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>

        <div class="col-12 d-flex mb-3 justify-content-center">
            <div id="button_view_details" class="popup_table_open">
                {{form.button_view_details}}
            </div>
        </div>

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Pdf Underlying Asset</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_return_underlying_distribution[0]|safe}}
                    {{plot_return_underlying_distribution[1]|safe}}
                </div>
            </fieldset>
        </div>

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied Volatility Profile</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_implied_volatility[0]|safe}}
                    {{plot_implied_volatility[1]|safe}}
                </div>
            </fieldset>
        </div>
        {%endif%}
    </div>

    <div id="popup_table" style="display:none">

        <div class="row border-bottom mb-2 pb-1">
            <legend>Table of Volatility & Prices</legend>
        </div>
        <div class="table_wrapper">
            <table class="table table-striped table-hover" id="table_export">
                <thead>
                <th scope="col"> Strike</th>
                <th scope="col"> Prices</th>
                <th scope="col"> Implied Volatility</th>
                </thead>
                <tbody>
                {%for i in range(number_of_strike)%}
                <tr>
                    <td>{{strike[i]}}</td>
                    <td>{{option_prices[i]}}</td>
                    <td>{{implied_volatility[i]}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row d-flex justify-content-center">
            {{form.button_export_table}}
        </div>
    </div>
</div>
{% include 'footer.html' %}

<script charset="utf-8" type="text/javascript">
    $(function(){
        var select_distribution = $('#type_choice');
        var normal = $('#normal');
        var vg = $('#vg');
        var nig = $('#nig');
        var cgmy = $('#cgmy');

        select_distribution.on('change', function() {
            if (select_distribution.val() == '0') {
                normal.show();
                vg.hide();
                nig.hide();
                cgmy.hide();
            } else if (select_distribution.val() == '1') {
                normal.hide();
                vg.show();
                nig.hide();
                cgmy.hide();
            } else if (select_distribution.val() == '2') {
                normal.hide();
                vg.hide();
                nig.show();
                cgmy.hide();
            } else {
                normal.hide();
                vg.hide();
                nig.hide();
                cgmy.show();
            }
        });
    });
























</script>
</body>
</html>
