{% include 'header.html' %}

<div id="login" class="container">
    <div class="row mt-5 d-flex justify-content-center">
        <form class="" method="post" action="">

            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn text-center custom-overlay">
                <div class="row">
                    <div class="col-12">
                        {{ form.username.label }}
                        {{ form.username }}

                        {% if form.username.errors %}
                        {% for error in form.username.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.password.label }}

                        {{ form.password}}

                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div style="color: red;">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        {{form.button_login}}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>
