{% include 'header.html' %}

<div class="container login_form">
    <div class="row mt-5 d-flex justify-content-center">
        <form class="" method="post" action="">
            <div class="row">
                <div class="col-md-12 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown ">
                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Login Information</legend>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form.email.label }}
                                {{ form.email(placeholder='Email Address')}}
                                {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form.password.label }}
                                {{ form.password(placeholder='Password')}}
                                <i id="show_password" class="glyphicon glyphicon-eye-open"></i>
                                {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                {{form.button_login}}
                            </div>
                        </div>
                        <hr>
                        <div class="register_login_container">
                            Don't have an account?
                            <a class="register_login_link" href="/reg">Register</a>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'footer.html' %}

<script>
    $('#password + .glyphicon').on('click', function() {
        $(this).toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open'); // toggle our classes for the eye icon
        $('#password').togglePassword(); // activate the hideShowPassword plugin
    });
</script>

</body>
</html>
