{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Monte Carlo Tools</h1>
            <h2 class="lead text-center text-light animated fadeInDown"> -- </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="">
            <div class="example_file">
                <a href="/">
                    Tutorial File: Monte Carlo Tools.pdf</a>
            </div>

            <div class="row">
                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Model Selection & Parameters</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.model_choice.label}}
                                {{form.model_choice}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" id="abm" {% if form.model_choice.data !='0' and form.model_choice !=None
                                 %}
                                 style="display:none" {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_abm.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_abm}}
                                        {% if form.mu_abm.errors %}
                                        {% for error in form.mu_abm.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_abm.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_abm}}
                                        {% if form.sigma_abm.errors %}
                                        {% for error in form.sigma_abm.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="cir" {% if form.model_choice.data !='1' %}
                                 style="display:none" {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_cir.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_cir}}
                                        {% if form.mu_cir.errors %}
                                        {% for error in form.mu_cir.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_cir.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_cir}}
                                        {% if form.sigma_cir.errors %}
                                        {% for error in form.sigma_cir.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.alpha_cir.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.alpha_cir}}
                                        {% if form.alpha_cir.errors %}
                                        {% for error in form.alpha_cir.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="dejd" {% if form.model_choice.data !='2' %}
                                 style="display:none" {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_dejd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_dejd}}
                                        {% if form.mu_dejd.errors %}
                                        {% for error in form.mu_dejd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_dejd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_dejd}}
                                        {% if form.sigma_dejd.errors %}
                                        {% for error in form.sigma_dejd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.lam_dejd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.lam_dejd}}
                                        {% if form.lam_dejd.errors %}
                                        {% for error in form.lam_dejd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.rho_dejd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.rho_dejd}}
                                        {% if form.rho_dejd.errors %}
                                        {% for error in form.rho_dejd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.eta1_dejd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.eta1_dejd}}
                                        {% if form.eta1_dejd.errors %}
                                        {% for error in form.eta1_dejd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.eta2_dejd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.eta2_dejd}}
                                        {% if form.eta2_dejd.errors %}
                                        {% for error in form.eta2_dejd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="ewma" {% if form.model_choice.data !='3' %}
                                 style="display:none" {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_ewma.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_ewma}}
                                        {% if form.mu_ewma.errors %}
                                        {% for error in form.mu_ewma.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.volatility_t0_ewma.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.volatility_t0_ewma}}
                                        {% if form.volatility_t0_ewma.errors %}
                                        {% for error in form.volatility_t0_ewma.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.alpha_ewma.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.alpha_ewma}}
                                        {% if form.alpha_ewma.errors %}
                                        {% for error in form.alpha_ewma.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.beta_ewma.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.beta_ewma}}
                                        {% if form.beta_ewma.errors %}
                                        {% for error in form.beta_ewma.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="garch" {% if form.model_choice.data !='4' %}
                                 style="display:none" {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_garch.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_garch}}
                                        {% if form.mu_garch.errors %}
                                        {% for error in form.mu_garch.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.volatility_t0_garch.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.volatility_t0_garch}}
                                        {% if form.volatility_t0_garch.errors %}
                                        {% for error in form.volatility_t0_garch.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.omega_garch.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.omega_garch}}
                                        {% if form.omega_garch.errors %}
                                        {% for error in form.omega_garch.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.alpha_garch.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.alpha_garch}}
                                        {% if form.alpha_garch.errors %}
                                        {% for error in form.alpha_garch.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.beta_garch.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.beta_garch}}
                                        {% if form.beta_garch.errors %}
                                        {% for error in form.beta_garch.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.asymm_garch.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.asymm_garch}}
                                        {% if form.asymm_garch.errors %}
                                        {% for error in form.asymm_garch.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="gbm" {% if form.model_choice.data !='5' %}
                                 style="display:none" {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_gbm.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_gbm}}
                                        {% if form.mu_gbm.errors %}
                                        {% for error in form.mu_gbm.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_gbm.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_gbm}}
                                        {% if form.sigma_gbm.errors %}
                                        {% for error in form.sigma_gbm.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                            <div class="col" id="heston" {% if form.model_choice.data !='6' %}
                                 style="display:none"
                                 {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_heston.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_heston}}
                                        {% if form.mu_heston.errors %}
                                        {% for error in form.mu_heston.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.volatility_t0_heston.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.volatility_t0_heston}}
                                        {% if form.volatility_t0_heston.errors %}
                                        {% for error in form.volatility_t0_heston.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.alpha_heston.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.alpha_heston}}
                                        {% if form.alpha_heston.errors %}
                                        {% for error in form.alpha_heston.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.beta_heston.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.beta_heston}}
                                        {% if form.beta_heston.errors %}
                                        {% for error in form.beta_heston.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.eta_heston.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.eta_heston}}
                                        {% if form.eta_heston.errors %}
                                        {% for error in form.eta_heston.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.rho_heston.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.rho_heston}}
                                        {% if form.rho_heston.errors %}
                                        {% for error in form.rho_heston.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="mjd" {% if form.model_choice.data !='7' %}
                                 style="display:none"
                                 {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_mjd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_mjd}}
                                        {% if form.mu_mjd.errors %}
                                        {% for error in form.mu_mjd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_mjd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_mjd}}
                                        {% if form.sigma_mjd.errors %}
                                        {% for error in form.sigma_mjd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.lam_mjd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.lam_mjd}}
                                        {% if form.lam_mjd.errors %}
                                        {% for error in form.lam_mjd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_x_mjd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_x_mjd}}
                                        {% if form.mu_x_mjd.errors %}
                                        {% for error in form.mu_x_mjd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_x_mjd.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_x_mjd}}
                                        {% if form.sigma_x_mjd.errors %}
                                        {% for error in form.sigma_x_mjd.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="mrg" {% if form.model_choice.data !='8' %}
                                 style="display:none"
                                 {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.mu_mrg.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.mu_mrg}}
                                        {% if form.mu_mrg.errors %}
                                        {% for error in form.mu_mrg.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_mrg.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_mrg}}
                                        {% if form.sigma_mrg.errors %}
                                        {% for error in form.sigma_mrg.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.alpha_mrg.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.alpha_mrg}}
                                        {% if form.alpha_mrg.errors %}
                                        {% for error in form.alpha_mrg.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col" id="vg" {% if form.model_choice.data !='9' %}
                                 style="display:none"
                                 {%endif%}>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.sigma_vg.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.sigma_vg}}
                                        {% if form.sigma_vg.errors %}
                                        {% for error in form.sigma_vg.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.theta_vg.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.theta_vg}}
                                        {% if form.theta_vg.errors %}
                                        {% for error in form.theta_vg.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-1">
                                        {{form.kappa_vg.label}}
                                    </div>
                                    <div class="col-11 mb-1">
                                        {{form.kappa_vg}}
                                        {% if form.kappa_vg.errors %}
                                        {% for error in form.kappa_vg.errors %}
                                        <div style="color: #ff0000;">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>

                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Simulation Parameters</legend>
                        </div>
                        <div id="price_abm" class="row" {% if form.model_choice.data !='0' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_abm.label}}
                                {{form.price_abm}}
                                {% if form.price_abm.errors %}
                                {% for error in form.price_abm.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="price_cir" class="row" {% if form.model_choice.data !='1' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_cir.label}}
                                {{form.price_cir}}
                                {% if form.price_cir.errors %}
                                {% for error in form.price_cir.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="price_dejd" class="row" {% if form.model_choice.data !='2' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_dejd.label}}
                                {{form.price_dejd}}
                                {% if form.price_dejd.errors %}
                                {% for error in form.price_dejd.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="price_ewma" class="row" {% if form.model_choice.data !='3' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_ewma.label}}
                                {{form.price_ewma}}
                                {% if form.price_ewma.errors %}
                                {% for error in form.price_ewma.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="price_garch" class="row" {% if form.model_choice.data !='4' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_garch.label}}
                                {{form.price_garch}}
                                {% if form.price_garch.errors %}
                                {% for error in form.price_garch.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="price_gbm" class="row" {% if form.model_choice.data !='5' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_gbm.label}}
                                {{form.price_gbm}}
                                {% if form.price_gbm.errors %}
                                {% for error in form.price_gbm.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="price_heston" class="row" {% if form.model_choice.data !='6' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_heston.label}}
                                {{form.price_heston}}
                                {% if form.price_heston.errors %}
                                {% for error in form.price_heston.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="price_mjd" class="row" {% if form.model_choice.data !='7' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_mjd.label}}
                                {{form.price_mjd}}
                                {% if form.price_mjd.errors %}
                                {% for error in form.price_mjd.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="price_mrg" class="row" {% if form.model_choice.data !='8' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_mrg.label}}
                                {{form.price_mrg}}
                                {% if form.price_mrg.errors %}
                                {% for error in form.price_mrg.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="price_vg" class="row" {% if form.model_choice.data !='9' %}
                             style="display:none" {%endif%}>
                            <div class="col mb-1">
                                {{form.price_vg.label}}
                                {{form.price_vg}}
                                {% if form.price_vg.errors %}
                                {% for error in form.price_vg.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.time.label}}
                                {{form.time}}
                                {% if form.time.errors %}
                                {% for error in form.time.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.number_step.label}}
                                {{form.number_step}}
                                {% if form.number_step.errors %}
                                {% for error in form.number_step.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.number_paths.label}}
                                {{form.number_paths}}
                                {% if form.number_paths.errors %}
                                {% for error in form.number_paths.errors %}
                                <div style="color: #ff0000;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>
        </form>
    </div>

    {% if plot_simulated_paths != None %}
    <div class="row p-3 d-flex justify-content-center">

        {%if sim_id != None %}
        <div class="row">
            <div class="col-6">
                <a href="/download_monte_carlo_paths_data/{{sim_id}}" class="download_data">
                    Click here to download the simulated paths</a>
            </div>
            <div class="col-6">
                <a href="/download_monte_carlo_moments_quantiles_data/{{sim_id}}" class="download_data">
                    Click here to download the moments and quantiles</a>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="download_data col-6" data-toggle="tooltip" data-placement="top" title="Log in to download file">
                Click here to download the simulated paths
            </div>
            <div class="download_data col-6" data-toggle="tooltip" data-placement="top" title="Log in to download file">
                Click here to download the moments and quantiles
            </div>
        </div>
        {% endif %}

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Simulated Paths</legend>
                </div>
                <div class="d-flex justify-content-center plot_monte_carlo">
                    {{plot_simulated_paths[0]|safe}}
                    {{plot_simulated_paths[1]|safe}}
                </div>
            </fieldset>
        </div>

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Moments</legend>
                </div>
                <div class="d-flex justify-content-center plot_monte_carlo">
                    {{plot_moments[0]|safe}}
                    {{plot_moments[1]|safe}}
                </div>
            </fieldset>
        </div>

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Histogram</legend>
                </div>
                <div class="d-flex justify-content-center plot_monte_carlo">
                    {{plot_histogram[0]|safe}}
                    {{plot_histogram[1]|safe}}
                </div>
            </fieldset>
        </div>

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Evolution of Density</legend>
                </div>
                <div class="d-flex justify-content-center plot_monte_carlo">
                    {{plot_3d_density[0]|safe}}
                    {{plot_3d_density[1]|safe}}
                </div>
            </fieldset>
        </div>

    </div>
    {%endif%}
</div>
{% include 'footer.html' %}

<script charset="utf-8" type="text/javascript">
    $(function () {
        var select_distribution = $('#model_choice');
        var abm = $('#abm');
        var cir = $('#cir');
        var dejd = $('#dejd');
        var ewma = $('#ewma');
        var garch = $('#garch');
        var gbm = $('#gbm');
        var heston = $('#heston');
        var mjd = $('#mjd');
        var mrg = $('#mrg');
        var vg = $('#vg');

        var price_abm = $('#price_abm');
        var price_cir = $('#price_cir');
        var price_dejd = $('#price_dejd');
        var price_ewma = $('#price_ewma');
        var price_garch = $('#price_garch');
        var price_gbm = $('#price_gbm');
        var price_heston = $('#price_heston');
        var price_mjd = $('#price_mjd');
        var price_mrg = $('#price_mrg');
        var price_vg = $('#price_vg');

        select_distribution.on('change', function () {
            if (select_distribution.val() == '0') {
                abm.show();
                cir.hide();
                dejd.hide();
                ewma.hide();
                garch.hide();
                gbm.hide();
                heston.hide();
                mjd.hide();
                mrg.hide();
                vg.hide();
                price_abm.show();
                price_cir.hide();
                price_dejd.hide();
                price_ewma.hide();
                price_garch.hide();
                price_gbm.hide();
                price_heston.hide();
                price_mjd.hide();
                price_mrg.hide();
                price_vg.hide();

            } else if (select_distribution.val() == '1') {
                abm.hide();
                cir.show();
                dejd.hide();
                ewma.hide();
                garch.hide();
                gbm.hide();
                heston.hide();
                mjd.hide();
                mrg.hide();
                vg.hide();
                price_abm.hide();
                price_cir.show();
                price_dejd.hide();
                price_ewma.hide();
                price_garch.hide();
                price_gbm.hide();
                price_heston.hide();
                price_mjd.hide();
                price_mrg.hide();
                price_vg.hide();

            } else if (select_distribution.val() == '2') {
                abm.hide();
                cir.hide();
                dejd.show();
                ewma.hide();
                garch.hide();
                gbm.hide();
                heston.hide();
                mjd.hide();
                mrg.hide();
                vg.hide();
                heston.hide();
                price_abm.hide();
                price_cir.hide();
                price_dejd.show();
                price_ewma.hide();
                price_garch.hide();
                price_gbm.hide();
                price_heston.hide();
                price_mjd.hide();
                price_mrg.hide();
                price_vg.hide();

            } else if (select_distribution.val() == '3') {
                abm.hide();
                cir.hide();
                dejd.hide();
                ewma.show();
                garch.hide();
                gbm.hide();
                heston.hide();
                mjd.hide();
                mrg.hide();
                vg.hide();
                price_abm.hide();
                price_cir.hide();
                price_dejd.hide();
                price_ewma.show();
                price_garch.hide();
                price_gbm.hide();
                price_heston.hide();
                price_mjd.hide();
                price_mrg.hide();
                price_vg.hide();

            } else if (select_distribution.val() == '4') {
                abm.hide();
                cir.hide();
                dejd.hide();
                ewma.hide();
                garch.show();
                gbm.hide();
                heston.hide();
                mjd.hide();
                mrg.hide();
                vg.hide();
                price_abm.hide();
                price_cir.hide();
                price_dejd.hide();
                price_ewma.hide();
                price_garch.show();
                price_gbm.hide();
                price_heston.hide();
                price_mjd.hide();
                price_mrg.hide();
                price_vg.hide();

            } else if (select_distribution.val() == '5') {
                abm.hide();
                cir.hide();
                dejd.hide();
                ewma.hide();
                garch.hide();
                gbm.show();
                heston.hide();
                mjd.hide();
                mrg.hide();
                vg.hide();
                price_abm.hide();
                price_cir.hide();
                price_dejd.hide();
                price_ewma.hide();
                price_garch.hide();
                price_gbm.show();
                price_heston.hide();
                price_mjd.hide();
                price_mrg.hide();
                price_vg.hide();

            } else if (select_distribution.val() == '6') {
                abm.hide();
                cir.hide();
                dejd.hide();
                ewma.hide();
                garch.hide();
                gbm.hide();
                heston.show();
                mjd.hide();
                mrg.hide();
                vg.hide();
                price_abm.hide();
                price_cir.hide();
                price_dejd.hide();
                price_ewma.hide();
                price_garch.hide();
                price_gbm.hide();
                price_heston.show();
                price_mjd.hide();
                price_mrg.hide();
                price_vg.hide();

            } else if (select_distribution.val() == '7') {
                abm.hide();
                cir.hide();
                dejd.hide();
                ewma.hide();
                garch.hide();
                gbm.hide();
                heston.hide();
                mjd.show();
                mrg.hide();
                vg.hide();
                price_abm.hide();
                price_cir.hide();
                price_dejd.hide();
                price_ewma.hide();
                price_garch.hide();
                price_gbm.hide();
                price_heston.hide();
                price_mjd.show();
                price_mrg.hide();
                price_vg.hide();

            } else if (select_distribution.val() == '8') {
                abm.hide();
                cir.hide();
                dejd.hide();
                ewma.hide();
                garch.hide();
                gbm.hide();
                heston.hide();
                mjd.hide();
                mrg.show();
                vg.hide();
                price_abm.hide();
                price_cir.hide();
                price_dejd.hide();
                price_ewma.hide();
                price_garch.hide();
                price_gbm.hide();
                price_heston.hide();
                price_mjd.hide();
                price_mrg.show();
                price_vg.hide();

            } else {
                abm.hide();
                cir.hide();
                dejd.hide();
                ewma.hide();
                garch.hide();
                gbm.hide();
                heston.hide();
                mjd.hide();
                mrg.hide();
                vg.show();
                heston.hide();
                price_abm.hide();
                price_cir.hide();
                price_dejd.hide();
                price_ewma.hide();
                price_garch.hide();
                price_gbm.hide();
                price_heston.hide();
                price_mjd.hide();
                price_mrg.hide();
                price_vg.show();

            }
        });
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


</script>
</body>
</html>
