{% include 'header.html' %}
{% if data %}
{% for result in data %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">

                            <div class="row border-bottom mb-2 pb-1">
                                <legend>Input</legend>
                            </div>
                            <div class="row">
                                <div class="col-12 font-weight-bold d-flex flex-column">
                                    <span class="mb-1">
                                        {{result['form'].model_choice.label}}:
                                        {{dict(result['form'].model_choice.choices).get(result['form'].model_choice.data)}}
                                    </span>

                                    <div id="gaussian">
                                        {% if result['form'].model_choice.data == '0' %}
                                        <span class="mb-1">
                                            {{result['form'].sigma_gaussian.label}}:
                                            {{result['form'].sigma_gaussian.data|round(4)}}
                                        </span>
                                        {%endif%}
                                    </div>

                                    <div id="vg">
                                        {% if result['form'].model_choice.data == '1' %}
                                        <span class="mb-1">
                                            {{result['form'].kappa_vg.label}}:
                                            {{result['form'].kappa_vg.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].theta_vg.label}}:
                                            {{result['form'].theta_vg.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].sigma_vg.label}}:
                                            {{result['form'].sigma_vg.data|round(4)}}
                                        </span>
                                        {%endif%}
                                    </div>
                                    <div id="heston">
                                        {% if result['form'].model_choice.data == '2' %}
                                        <span class="mb-1">
                                            {{result['form'].alpha_heston.label}}:
                                            {{result['form'].alpha_heston.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].beta_heston.label}}:
                                            {{result['form'].beta_heston.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].gamma_heston.label}}:
                                            {{result['form'].gamma_heston.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].rho_heston.label}}:
                                            {{result['form'].rho_heston.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].volatility_t0.label}}:
                                            {{result['form'].volatility_t0.data|round(4)}}
                                        </span>>
                                        {%endif%}
                                    </div>
                                    <div id="nig">
                                        {% if result['form'].model_choice.data == '3' %}
                                        <span class="mb-1">
                                            {{result['form'].a_nig.label}}:
                                            {{result['form'].a_nig.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].b_nig.label}}:
                                            {{result['form'].b_nig.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].delta_nig.label}}:
                                            {{result['form'].delta_nig.data|round(4)}}
                                        </span>
                                        {%endif%}
                                    </div>
                                    <div id="cgmy">
                                        {% if result['form'].model_choice.data == '4' %}
                                        <span class="mb-1">
                                            {{result['form'].c.label}}:
                                            {{result['form'].c.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].g.label}}:
                                            {{result['form'].g.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].m.label}}:
                                            {{result['form'].m.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].y.label}}:
                                            {{result['form'].y.data|round(4)}}
                                        </span>
                                        {%endif%}
                                    </div>
                                    <div id="meixer">
                                        {% if result['form'].model_choice.data == '5' %}
                                        <span class="mb-1">
                                            {{result['form'].a_meixner.label}}:
                                            {{result['form'].a_meixner.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].b_meixner.label}}:
                                            {{result['form'].b_meixner.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].delta_meixner.label}}:
                                            {{result['form'].delta_meixner.data|round(4)}}
                                        </span>
                                        {%endif%}
                                    </div>
                                    <div id="mjd">
                                        {% if result['form'].model_choice.data == '6' %}
                                        <span class="mb-1">
                                            {{result['form'].sigma_mjd.label}}:
                                            {{result['form'].sigma_mjd.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].lam_mjd.label}}:
                                            {{result['form'].lam_mjd.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].mu_x_mjd.label}}:
                                            {{result['form'].mu_x_mjd.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].sigma_x_mjd.label}}:
                                            {{result['form'].sigma_x_mjd.data|round(4)}}
                                        </span>
                                        {%endif%}
                                    </div>
                                    <div id="dejd">
                                        {% if result['form'].model_choice.data == '7' %}
                                        <span class="mb-1">
                                            {{result['form'].sigma_dejd.label}}:
                                            {{result['form'].sigma_dejd.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].lam_dejd.label}}:
                                            {{result['form'].lam_dejd.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].rho_dejd.label}}:
                                            {{result['form'].rho_dejd.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].eta1_dejd.label}}:
                                            {{result['form'].eta1_dejd.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].eta2_dejd.label}}:
                                            {{result['form'].eta2_dejd.data|round(4)}}
                                        </span>
                                        {%endif%}
                                    </div>
                                    <div id="cev">
                                        {% if result['form'].model_choice.data == '8' %}
                                        <span class="mb-1">
                                            {{result['form'].beta_cev.label}}:
                                            {{result['form'].beta_cev.data|round(4)}}
                                        </span>
                                        {%endif%}
                                    </div>
                                    <div id="exp_gau">
                                        {% if result['form'].model_choice.data == '9' %}
                                        <span class="mb-1">
                                            {{result['form'].epsilon_exp.label}}:
                                            {{result['form'].epsilon_exp.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].k1_exp.label}}:
                                            {{result['form'].k1_exp.data|round(4)}}<br/>
                                        </span>
                                        <span class="mb-1">
                                            {{result['form'].sigma_exp.label}}:
                                            {{result['form'].sigma_exp.data|round(4)}}
                                        </span>
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="col-12 font-weight-bold d-flex flex-column">

                                    <div id="general_price">
                                        {% if result['form'].model_choice.data != '9' %}
                                        <span class="mb-1">
                                        {{result['form'].price.label}}:
                                        {{result['form'].price.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].risk_free.label}}:
                                        {{result['form'].risk_free.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].time.label}}:
                                        {{result['form'].time.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].step.label}}:
                                        {{result['form'].step.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].strike.label}}:
                                        {{result['form'].strike.data|round(4)}}
                                        </span>
                                        {% endif %}
                                    </div>

                                    <div id="exp_price">
                                        {% if result['form'].model_choice.data == '9' %}
                                        <span class="mb-1">
                                        {{result['form'].price_exp.label}}:
                                        {{result['form'].price_exp.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].risk_free_exp.label}}:
                                        {{result['form'].risk_free_exp.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].time_exp.label}}:
                                        {{result['form'].time_exp.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].step_exp.label}}:
                                        {{result['form'].step_exp.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].strike_exp.label}}:
                                        {{result['form'].strike_exp.data|round(4)}}
                                        </span>
                                        {% endif %}
                                    </div>

                                    <span class="mb-1">
                                        {{result['form'].grid.label}}:
                                        {{result['form'].grid.data|round(4)}}
                                    </span>
                                    <div id="general_upper">
                                        {% if result['form'].model_choice.data != '9' %}
                                        <span class="mb-1">
                                        {{result['form'].upper_range.label}}:
                                        {{result['form'].upper_range.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].lower_range.label}}:
                                        {{result['form'].lower_range.data|round(4)}}
                                        </span>
                                        {% endif %}
                                    </div>
                                    <div id="exp_upper">
                                        {% if result['form'].model_choice.data == '9' %}
                                        <span class="mb-1">
                                        {{result['form'].upper_range_exp.label}}:
                                        {{result['form'].upper_range_exp.data|round(4)}}<br/>
                                        </span>

                                        <span class="mb-1">
                                        {{result['form'].lower_range_exp.label}}:
                                        {{result['form'].lower_range_exp.data|round(4)}}
                                        </span>
                                        {% endif %}
                                    </div>
                                    <span class="mb-1">
                                        {{result['form'].dump.label}}:
                                        {{result['form'].dump.data|round(4)}}
                                    </span>
                                    <span class="mb-1">
                                        {{result['form'].tolerance.label}}:
                                        {{result['form'].tolerance.data|round(4)}}
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">
                            <div class="row border-bottom mb-2 pb-1">
                                <legend>Table of Asian Option Lower Bound</legend>
                            </div>
                            {% if result['plot_lower_bound'] != None %}
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <th scope="col">Optimal Strike</th>
                                        <th scope="col">Optimal Shadow LB</th>
                                        <th scope="col">Strike</th>
                                        <th scope="col">LB Strike</th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{result['optimal_strike']}}</td>
                                            <td>{{result['optimal_lower_bound']}}</td>
                                            {% if result['form'].model_choice.data == '9' %}
                                            <td>{{result['form'].strike_exp.data|round(4)}}</td>
                                            {% else %}
                                            <td>{{result['form'].strike.data|round(4)}}</td>
                                            {% endif %}
                                            <td>{{result['lower_bound_strike']}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded d-flex animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Lower Bound Asian Option</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{ result['plot_lower_bound'][0]|safe }}
                    {{ result['plot_lower_bound'][1]|safe }}
                </div>
            </fieldset>
        </div>
    </div>
    {% endif %}

    <div class="col-12 d-flex justify-content-center">
        <form style="text-align:center; class=" method="POST"
              action="/asian_option/old/delete/{{ result.id }}">
            <input type="submit" value="Delete Single Simulation"
                   title="Delete this post from database">
        </form>
    </div>
</div>
<hr>
{% endfor %}

<center>
    <div class="row">
        <form style="text-align:center; method=" POST action="/asian_option/old/delete/-1">
            <input type="submit" value="Delete All Simulations">
        </form>
    </div>
</center>
{% else %}
<div class="row d-flex align-content-center">
    <div style="text-align:center;" class="col">
        <span class="text-white animated fadeInDown">No previous simulations</span>
    </div>
</div>{% endif %}

{% include 'footer.html' %}

</body>
</html>