{% include 'header.html' %}

{% if data %}
{% for result in data %}
<hr> <!--hr is a line-->
<div class="container">
    <form class="navbar-form" method="post" action=/delete/{{result['id']}}>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-3">
                    <h3>Input</h3>

                    <div class="row">
                        <div class="output">
                            <div class="col-xs-6">

                                \(\mu\):
                                {{result['form'].mu.data}} <br>
                                \(v_{0}\):
                                {{result['form'].volatility_t0.data}} <br>
                                \(\hat{v}\):
                                {{result['form'].volatility_hat.data}} <br>
                                \(\lambda\):
                                {{result['form'].lam.data}} <br>
                                \(\chi\):
                                {{result['form'].chi.data}} <br>
                                \(\rho\):
                                {{result['form'].rho.data}} <br>


                                {{result['form'].price.label}}
                                {{result['form'].price.data}}
                                {{result['form'].risk_free.label}} \((\%) \)
                                {{result['form'].risk_free.data}}
                                {{result['form'].dividend_yield.label}} \((\%) \)
                                {{result['form'].dividend_yield.data}}
                                {{result['form'].strike_min.label}}
                                {{result['form'].strike_min.data}}
                                {{result['form'].strike_max.label}}
                                {{result['form'].strike_max.data}}
                                {{result['form'].time.label}}
                                {{result['form'].time.data}} <br/>
                                {{result['form'].call_put.label}}
                                {{dict(result['form'].call_put.choices).get(result['form'].call_put.data)}}


                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-6">
                                <br/>
                                <h4>Results</h4>

                                {% if result['plot_return_underlying_distribution'] != None %}

                                <div class="row">
                                    <table>
                                        <h5>Table of moments</h5>
                                        <thead>

                                        <td> Mean</td>
                                        <td> Variance</td>
                                        <td> Skewness</td>
                                        <td> Kurtosis</td>
                                        </thead>
                                        <tbody>
                                        <tr>

                                            <td>{{result['mean']}}</td>
                                            <td>{{result['variance']}}</td>
                                            <td>{{result['skewness']}}</td>
                                            <td>{{result['kurtosis']}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="col-xs-6">

                                    <div id="plot_return_underlying_distribution">
                                        {{ result['plot_return_underlying_distribution'][0]|safe }}
                                        {{ result['plot_return_underlying_distribution'][1]|safe }}
                                    </div>

                                    <div class="plot_implied_volatility">
                                        {{ result['plot_implied_volatility'][0]|safe }}
                                        {{ result['plot_implied_volatility'][1]|safe }}
                                    </div>

                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-3">
                            <form class="navbar-form navbar-top " method="POST" action="/delete/{{ result.id }}">
                                <input type="submit" value="Delete"
                                       title="Delete this post from database">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endfor %}
<hr>
<center>
    <div class="row">
        <form method="POST" action="/delete/-1">
            <input type="submit" value="Delete all">
        </form>
    </div>
</center>
{% else %}
No previous simulations
{% endif %}

{% include 'footer.html' %}

</body>
</html>