{% include 'header.html' %}

{% if data %}
{% for result in data %}
<hr> <!--hr is a line-->
<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                <h3>Input</h3>

                <div class="row">
                    <div class="output">
                        <div class="col-xs-8">

                            {{result['form'].model_choice.label}}
                            {{dict(result['form'].model_choice.choices).get(result['form'].model_choice.data)}} <br/>


                            <div id="gaussian">
                                {% if result['form'].model_choice.data == '0' %}
                                \(\sigma\):
                                {{result['form'].sigma_gaussian.data}} <br>
                                {%endif%}
                            </div>
                            <div id="vg">
                                {% if result['form'].model_choice.data == '1' %}
                                \(v \):
                                {{result['form'].kappa.data}} <br>
                                \(\theta\):
                                {{result['form'].theta.data}} <br>
                                \(\sigma\):
                                {{result['form'].sigma_vg.data}} <br>
                                {%endif%}
                            </div>
                            <div id="heston">
                                {% if result['form'].model_choice.data == '2' %}
                                \(\alpha\):
                                {{result['form'].alpha_heston.data}} <br>
                                \(\beta\):
                                {{result['form'].beta_heston.data}} <br>
                                \(\gamma\):
                                {{result['form'].gamma_heston.data}} <br>
                                \(\rho\):
                                {{result['form'].rho_heston.data}} <br>
                                \(V_{0}\):
                                {{result['form'].volatility_t0.data}} <br>
                                {%endif%}
                            </div>
                            <div id="nig">
                                {% if result['form'].model_choice.data == '3' %}
                                \(a\):
                                {{result['form'].a_nig.data}} <br>
                                \(b\):
                                {{result['form'].b_nig.data}} <br>
                                \(\delta\):
                                {{result['form'].delta_nig.data}} <br>
                                {%endif%}
                            </div>
                            <div id="cgmy">
                                {% if result['form'].model_choice.data == '4' %}
                                \(C\):
                                {{result['form'].c.data}} <br>
                                \(G\):
                                {{result['form'].g.data}} <br>
                                \(M\):
                                {{result['form'].m.data}} <br>
                                \(Y\):
                                {{result['form'].y.data}} <br>
                                {%endif%}
                            </div>
                            <div id="meixer">
                                {% if result['form'].model_choice.data == '5' %}
                                \(a\):
                                {{result['form'].a_meixner.data}} <br>
                                \(b\):
                                {{result['form'].b_meixner.data}} <br>
                                \(\delta\):
                                {{result['form'].delta_meixner.data}} <br>
                                {%endif%}
                            </div>
                            <div id="mjd">
                                {% if result['form'].model_choice.data == '6' %}
                                \(\sigma\):
                                {{result['form'].sigma_mjd.data}} <br>
                                \(l\):
                                {{result['form'].lam_mjd.data}} <br>
                                \(\mu_{x}\):
                                {{result['form'].mu_x_mjd.data}} <br>
                                \(\sigma_{x}\):
                                {{result['form'].sigma_x_mjd.data}} <br>
                                {%endif%}
                            </div>
                            <div id="dejd">
                                {% if result['form'].model_choice.data == '7' %}
                                \(\sigma\):
                                {{result['form'].sigma_dejd.data}} <br>
                                \(l\):
                                {{result['form'].lam_dejd.data}} <br>
                                \(\rho\):
                                {{result['form'].rho_dejd.data}} <br>
                                \(\eta_{1}\):
                                {{result['form'].eta1_dejd.data}} <br>
                                \(\eta_{2}\):
                                {{result['form'].eta2_dejd.data}} <br>
                                {%endif%}
                            </div>
                            <div id="cev">
                                {% if result['form'].model_choice.data == '8' %}
                                \(\beta\):
                                {{result['form'].beta_cev.data}}
                                {%endif%}
                            </div>

                            {{result['form'].grid.label}}
                            {{result['form'].grid.data}} <br>
                            {{result['form'].upper_range.label}}
                            {{result['form'].upper_range.data}} <br>
                            {{result['form'].lower_range.label}}
                            {{result['form'].lower_range.data}} <br>
                            {{result['form'].dump.label}}
                            {{result['form'].dump.data}} <br>
                            {{result['form'].tolerance.label}}
                            {{result['form'].tolerance.data}} <br>

                            {{result['form'].price.label}}
                            {{result['form'].price.data}} <br>
                            {{result['form'].risk_free.label}} \((\%) \)
                            {{result['form'].risk_free.data}} <br>
                            {{result['form'].time.label}}
                            {{result['form'].time.data}} <br>
                            {{result['form'].step.label}}
                            {{result['form'].step.data}} <br>
                            {{result['form'].strike.label}}
                            {{result['form'].strike.data}}

                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-4">
                            <br/>
                            <h4>Results</h4>
                            {% if result['plot_lower_bound'] != None %}

                            <div id="plot_lower_bound" class="col-xs-6 plot">
                                {{ result['plot_lower_bound'][0]|safe }}
                                {{ result['plot_lower_bound'][1]|safe }}
                            </div>

                            <table>
                                <thead>
                                <th>Lower Bound</th>
                                <th>Value</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Optimal Strike</td>
                                    <td>{{result['optimal_strike']}}</td>
                                </tr>
                                <tr>
                                    <td>Optimal Lower Bound</td>
                                    <td>{{result['optimal_lower_bound']}}</td>
                                </tr>
                                <tr>
                                    <td>Strike</td>
                                    <td>{{result['form'].strike.data}}</td>
                                </tr>
                                <tr>
                                    <td>Lower Bound Strike</td>
                                    <td>{{result['lower_bound_strike']}}</td>
                                </tr>
                                </tbody>
                            </table>

                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <form class="navbar-form navbar-top " method="POST"
                              action="/asian_option/old/delete/{{ result.id }}">
                            <input type="submit" value="Delete"
                                   title="Delete this post from database">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<hr>
<center>
    <div class="row">
        <form method="POST" action="/asian_option/old/delete/-1">
            <input type="submit" value="Delete all">
        </form>
    </div>
</center>
{% else %}
No previous simulations
{% endif %}

{% include 'footer.html' %}

</body>
</html>