{% include 'header.html' %}
{% if data %}
{% for result in data %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">>Return Data Statistics</h1>
            <h2 class="lead text-center text-light animated fadeInDown">Previous Simulations</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">

                            <div class="row border-bottom mb-2 pb-1">
                                <legend>Input</legend>
                            </div>
                            <div class="row">
                                <div class="col-12 font-weight-bold d-flex flex-column">
                                    {% if result['form'].method_choice.data == '0' %}
                                    <span class="mb-1">
                                        <label>Method</label>:<br/>
                                        {{dict(result['form'].method_choice.choices).get(result['form'].method_choice.data)}}
                                    </span>
                                    <span class="mb-1">
                                        {{result['form'].file_name.label}}:<br/>
                                        {{result['form'].file_name.data}}
                                    </span>

                                    {% else %}
                                    <span class="mb-1">
                                        <label>Method</label>:<br/>
                                        {{dict(result['form'].method_choice.choices).get(result['form'].method_choice.data)}}
                                    </span>
                                    <span class="mb-1">
                                        <label>Start Date</label>:<br/>
                                        {{result['form'].start_day.data}}/{{result['form'].start_month.data}}/{{result['form'].start_year.data}}
                                    </span>

                                    <span class="mb-1">
                                        <label>End Date</label>:<br/>
                                        {{result['form'].end_day.data}}/{{result['form'].end_month.data}}/{{result['form'].end_year.data}}
                                    </span>
                                    {%endif%}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="row">
                    {% if result['mean'] != None %}
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">

                            <div class="row border-bottom mb-2 pb-1">
                                <legend>Statistical Analysis (Returns)</legend>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <th scope="col"> Tickers</th>
                                        <th scope="col"> Observation</th>
                                        <th scope="col"> Mean</th>
                                        <th scope="col"> Volatility</th>
                                        <th scope="col"> Variance</th>
                                        <th scope="col"> Skewness</th>
                                        <th scope="col"> Kurtosis</th>
                                        <th scope="col"> Min Return</th>
                                        <th scope="col"> Max Return</th>
                                        <th scope="col"> Jb Test</th>
                                        <th scope="col"> P-value</th>
                                        </thead>

                                        <tbody>
                                        {% for i in range(result['number_of_tickers'])%}
                                        <tr>
                                            <td>{{result['tickers'][i]}}</td>
                                            <td>{{result['n_observation'][i]}}</td>
                                            <td>{{result['mean'][i]}}</td>
                                            <td>{{result['volatility'][i]}}</td>
                                            <td>{{result['variance'][i]}}</td>
                                            <td>{{result['skewness'][i]}}</td>
                                            <td>{{result['kurtosis'][i]}}</td>
                                            <td>{{result['min_return'][i]}}</td>
                                            <td>{{result['max_return'][i]}}</td>
                                            <td>{{result['jb_test'][i]}}</td>
                                            <td>{{result['pvalue'][i]}}</td>
                                        </tr>
                                        {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="col-12 d-flex mb-3 justify-content-center">
    <form style="text-align:center;" method="POST" action="/return_data_statistics/old/delete/{{ result.id }}">
        <input type="submit" value="Delete Single Simulation"
               title="Delete this post from database">
    </form>
</div>
<hr>
{% endfor %}

<center>
    <div class="row">
        <form method="POST" action="/return_data_statistics/old/delete/-1">
            <input type="submit" value="Delete All Simulations">
        </form>
    </div>
</center>
{% else %}
<div class="row d-flex align-content-center">
    <div style="text-align:center;" class="col">
        <span class="text-white animated fadeInDown">No previous simulations</span>
    </div>
</div>
{% endif %}

{% include 'footer.html' %}
</body>
</html>

























