{% include 'header.html' %}
{% if data %}
{% for result in data %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Principal Component Analysis</h1>
            <h2 class="lead text-center text-light animated fadeInDown">Previous Simulations</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">

                            <div class="row border-bottom mb-2 pb-1">
                                <legend>Input</legend>
                            </div>
                            <div class="row">
                                <div class="col-12 font-weight-bold d-flex flex-column">
                                    {% if result['form'].method_choice.data == '0' %}
                                    <span class="mb-1">
                                        <label>Method</label>:<br/>
                                        {{dict(result['form'].method_choice.choices).get(result['form'].method_choice.data)}}
                                    </span>
                                    <span class="mb-1">
                                        {{result['form'].file_name.label}}:<br/>
                                        {{result['form'].file_name.data}}
                                    </span>

                                    <span class="mb-1">
                                        {{result['form'].price_return_flag.label}}<br/>
                                        {{dict(result['form'].price_return_flag.choices).get(result['form'].price_return_flag.data)}}
                                    </span>

                                    {% else %}
                                    <span class="mb-1">
                                        <label>Method</label>:<br/>
                                        {{dict(result['form'].method_choice.choices).get(result['form'].method_choice.data)}}
                                    </span>
                                    <span class="mb-1">
                                        <label>Start Date</label>:<br/>
                                        {{result['form'].start_day.data}}/{{result['form'].start_month.data}}/{{result['form'].start_year.data}}
                                    </span>

                                    <span class="mb-1">
                                        <label>End Date</label>:<br/>
                                        {{result['form'].end_day.data}}/{{result['form'].end_month.data}}/{{result['form'].end_year.data}}
                                    </span>
                                    {%endif%}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
            </div>
        </div>
    </div>

    {% if result['plot_efficient_frontier'] != None %}
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded d-flex animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Percentage Variance Explained by Each Component</legend>
                </div>

                <div class="d-flex justify-content-center plot">
                    {{ result['plot_variance_component'][0]|safe}}
                    {{ result['plot_variance_component'][1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Cumulative Percentage Variance Explained</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{result['plot_cumulative_component'][0]|safe}}
                    {{result['plot_cumulative_component'][1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Loadings with respect the 1st PC</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{result['plot_one_loadings'][0]|safe}}
                    {{result['plot_one_loadings'][1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Loadings with respect the 2nd PC</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{result['plot_two_loadings'][0]|safe}}
                    {{result['plot_two_loadings'][1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    {% endif %}

</div>

<div class="col-12 d-flex mb-3 justify-content-center">
    <form style="text-align:center;" method="POST" action="/principal_component_analysis/old/delete/{{ result.id }}">
        <input type="submit" value="Delete Single Simulation"
               title="Delete this post from database">
    </form>
</div>
<hr>
{% endfor %}

<center>
    <div class="row">
        <form method="POST" action="/principal_component_analysis/old/delete/-1">
            <input type="submit" value="Delete All Simulations">
        </form>
    </div>
</center>
{% else %}
<div class="row d-flex align-content-center">
    <div style="text-align:center;" class="col">
        <span class="text-white animated fadeInDown">No previous simulations</span>
    </div>
</div>
{% endif %}

{% include 'footer.html' %}

</body>
</html>

























