{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Previous simulation</h1>
            <h2 class="lead text-center text-light animated fadeInDown">COS Method - Heston Model</h2>
        </div>
    </div>
</div>

{% if data %}
{% for result in data %}

<div class="container">

    <div class="row mb-4">
        <div class="col-md-5 col-12">

            <div class="row">
                <div class="col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft custom-overlay">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Input</legend>
                        </div>
                        <div class="row">
                            <div class="col-6 d-flex flex-column">
                                <span class="mb-1">
                                    \(\mu\):
                                    {{result['form'].mu.data}}
                                </span>
                                <span class="mb-1">
                                    \(v_{0}\):
                                    {{result['form'].volatility_t0.data}}
                                </span>
                                <span class="mb-1">
                                    \(\hat{v}\):
                                    {{result['form'].volatility_hat.data}}
                                </span>
                                <span class="mb-1">
                                    \(\lambda\):
                                    {{result['form'].lam.data}}
                                </span>
                                <span class="mb-1">
                                    \(\chi\):
                                    {{result['form'].chi.data}}
                                </span>
                                <span class="mb-1">
                                    \(\rho\):
                                    {{result['form'].rho.data}}
                                </span>

                            </div>
                            <div class="col-6 font-weight-bold d-flex flex-column">
                                <span class="mb-1">
                                    {{result['form'].price.label}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].price.data}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].risk_free.label}} \((\%) \)
                                </span>
                                <span class="mb-1">
                                    {{result['form'].risk_free.data}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].dividend_yield.label}} \((\%) \)
                                </span>
                                <span class="mb-1">
                                    {{result['form'].dividend_yield.data}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].strike_min.label}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].strike_min.data}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].strike_max.label}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].strike_max.data}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].time.label}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].time.data}}
                                </span>
                                <span class="mb-1">
                                    {{result['form'].call_put.label}}
                                </span>
                                <span class="mb-1">
                                    {{dict(result['form'].call_put.choices).get(result['form'].call_put.data)}}
                                </span>

                            </div>

                        </div>
                    </fieldset>
                </div>

            </div>


            <div class="col-md-7 col-12">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight custom-overlay">

                            <div class="row border-bottom mb-2 pb-1">
                                <legend>Table of Moments</legend>
                            </div>
                            {% if result['plot_return_underlying_distribution'] != None %}
                            <div class="row">
                                <table class="table">
                                    <h5>Table of moments</h5>
                                    <thead class="thead-light">
                                    <th scope="col"> Mean</th>
                                    <th scope="col"> Variance</th>
                                    <th scope="col"> Skewness</th>
                                    <th scope="col"> Kurtosis</th>
                                    </thead>
                                    <tbody>
                                    <tr>

                                        <td> {{result['mean']}}</td>
                                        <td> {{result['variance']}}</td>
                                        <td> {{result['skewness']}}</td>
                                        <td> {{result['kurtosis']}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>


            <div class="col-12 plot">

                <div id="plot_return_underlying_distribution"
                     class="shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
                    {{ result['plot_return_underlying_distribution'][0]|safe }}
                    {{ result['plot_return_underlying_distribution'][1]|safe }}
                </div>

                <div id="plot_implied_volatility"
                     class="shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
                    {{ result['plot_implied_volatility'][0]|safe }}
                    {{ result['plot_implied_volatility'][1]|safe }}
                </div>

                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-12 d-flex mb-3 justify-content-center">

        <form style="text-align:center;" method="POST" action="/heston_method/old/delete/{{ result.id }}">
            <input type="submit" value="Delete"
                   title="Delete this post from database">
        </form>

    </div>

</div>
{% endfor %}
<hr>
<center>
    <div class="row">
        <form method="POST" action="/heston_method/old/delete/-1">
            <input type="submit" value="Delete all">
        </form>
    </div>
</center>
{% else %}
<h3 class="text-center animated fadeInDown">No previous simulations</h3>
{% endif %}

{% include 'footer.html' %}

</body>
</html>