{% include 'header.html' %}

{% if data %}
{% for result in data %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Implied Distribution</h1>
            <h2 class="lead text-center text-light animated fadeInDown">Previous Simulations</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">
                            <div class="row border-bottom mb-2 pb-1">
                                <legend>Input</legend>
                            </div>
                            <div class="row">
                                <div class="col-12 font-weight-bold d-flex flex-column">
                                    <span class="mb-1">
                                        {{result['form'].price.label}}:
                                        {{result['form'].price.data|round(4)}}<br/>
                                    </span>
                                    <span class="mb-1">
                                        {{result['form'].call_put_flag.label}}:
                                        {{dict(result['form'].call_put_flag.choices).get(result['form'].call_put_flag.data)}}<br/>
                                    </span>
                                    <span class="mb-1">
                                        {{result['form'].file_name.label}}:
                                        {{result['form'].file_name.data}}<br/>
                                    </span>
                                    <span class="mb-1">
                                    {% if result['form'].risk_dividend.data == '0' %}
                                        {{result['form'].risk_free.label}}:
                                        {{result['form'].risk_free.data|round(4)}}<br/>
                                        {{result['form'].div_yield.label}}:
                                        {{result['form'].div_yield.data|round(4)}}<br/>
                                    {%endif%}
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row border-bottom mb-2 pb-1">
                                        <legend>Fitted Volatility Smile</legend>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            {% if result[' plot_implied_volatility'] != None %}
                                            <div class="row d-flex flex-column">
                                                <span class="mb-1"> \(a_{0}\): {{result ['a0']}}</span>
                                                <span class="mb-1"> \(a_{1}\): {{result ['a1']}}</span>
                                                <span class="mb-1"> \(a_{2}\): {{result ['a2']}}</span>
                                                <span class="mb-1"> \(R^{2}\): {{result ['r2']}}</span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row border-bottom mb-2 pb-1">
                                        <legend>Details Model</legend>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            {% if result[' plot_implied_volatility'] != None %}
                                            <div class="row d-flex flex-column">

                                                {% if result['form'].risk_dividend.data == '1' %}
                                                <span class="mb-1"> Risk Free \((\%) \): {{result['risk_free']}}</span>
                                                <span class="mb-1"> Dividend Yield \((\%) \): {{result['div_yield']}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">
                            <div class="row border-bottom mb-2 pb-1">
                                <legend> Table of moments</legend>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <th scope="col"> Description</th>
                                        <th scope="col"> Ceq</th>
                                        <th scope="col"> LogNormal</th>
                                        <th scope="col"> Ceq Return</th>
                                        <th scope="col"> Normal</th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th> Area</th>
                                            <td> {{result['area_prices']}}</td>
                                            <td> 1</td>
                                            <td> {{result['area_returns']}}</td>
                                            <td> 1</td>
                                        </tr>
                                        <tr>
                                            <th> Mean</th>
                                            <td> {{result['expected_price']}}</td>
                                            <td> {{result['expected_price']}}</td>
                                            <td> {{result['m1_returns']}}</td>
                                            <td> {{result['m1_returns']}}</td>
                                        </tr>
                                        <tr>
                                            <th> Variance</th>
                                            <td> {{result['sigma2_price']}}</td>
                                            <td> {{result['sigma2_price']}}</td>
                                            <td> {{result['m2_returns']}}</td>
                                            <td> {{result['m2_returns']}}</td>
                                        </tr>
                                        <tr>
                                            <th> Skewness</th>
                                            <td> {{result['skewness_prices']}}</td>
                                            <td> {{result['skewness_prices_log_n']}}</td>
                                            <td> {{result['skewness_log_returns']}}</td>
                                            <td> {{result['skewness_normal']}}</td>
                                        </tr>
                                        <tr>
                                            <th> Kurtosis</th>
                                            <td> {{result['kurtosis_prices']}}</td>
                                            <td> {{result['kurtosis_prices_log_n']}}</td>
                                            <td> {{result['kurtosis_log_returns']}}</td>
                                            <td> {{result['kurtosis_normal']}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-12">
                        <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">
                            <div class="row border-bottom mb-2 pb-1">
                                <legend> Kolmogorov Smirnov Test</legend>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <th scope="col"></th>
                                        <th scope="col"> Cdf Prices</th>
                                        <th scope="col"> Cdf Returns</th>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <th> Statistic Value</th>
                                            <td> {{result['statistic_prices']}}</td>
                                            <td> {{result['statistic_returns']}}</td>

                                        </tr>
                                        <tr>
                                            <th> PValue</th>
                                            <td> {{result['pvalue_prices']}}</td>
                                            <td> {{result['pvalue_returns']}}</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded d-flex animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend> Implied Volatility Profile</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{ result['plot_implied_volatility'][0]|safe}}
                    {{ result['plot_implied_volatility'][1]|safe}}
                </div>
            </fieldset>
        </div>
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded d-flex animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied CEQ Returns Distribution</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{ result['plot_return_distribution'][0]|safe}}
                    {{ result['plot_return_distribution'][1]|safe}}
                </div>
            </fieldset>
        </div>
        {% if result[' plot_index_distribution'] != None %}
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded d-flex animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend> Implied CEQ index distribution</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{ result['plot_index_distribution'][0]|safe }}
                    {{ result['plot_index_distribution'][1]|safe }}
                </div>
            </fieldset>
        </div>
        {% endif %}

        {% if result[' plot_index_cdf'] != None %}
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded d-flex animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend> Implied CEQ Prices CDF</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{ result['plot_index_cdf'][0]|safe}}
                    {{ result['plot_index_cdf'][1]|safe}}
                </div>
            </fieldset>
        </div>
        {% endif %}

        {% if result[' plot_return_cdf'] != None %}
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded d-flex animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend> Implied CEQ Returns CDF</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{ result['plot_return_cdf'][0]|safe}}
                    {{ result['plot_return_cdf'][1]|safe}}
                </div>
            </fieldset>
        </div>
        {% endif %}

        {% endif %}
    </div>

    <div class="col-12 d-flex mb-3 justify-content-center">

        <form style="text-align:center;" method="POST" action="/shimko_market/old/delete/{{ result.id }}">
            <input type="submit" value="Delete Single Simulation"
                   title="Delete this post from database">
        </form>
    </div>
</div>
<hr>
{% endfor %}

<center>
    <form method="POST" action="/shimko_market/old/delete/-1">
        <input type="submit" value="Delete All Simulations">
    </form>
</center>
{% else %}
<div class="row d-flex align-content-center">
    <div style="text-align:center;" class="col">
        <span class="text-white animated fadeInDown">No previous simulations</span>
    </div>
</div>
{% endif %}

{% include 'footer.html' %}

</body>
</html>