{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Plain Vanilla Options - Heston Model</h1>
            <h2 class="lead text-center text-light animated fadeInDown">A pricing method for European option based on
                Fourier-Cosine series expansions </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="">
            <div class="example_file">
                <a href="/static/tutorial_model/plain_vanilla_heston_method_tutorial.pdf">
                    Tutorial File: Plain Vanilla Heston Method.pdf</a>
            </div>

            <div class="row">
                <div class="col-md-4 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Model Parameters</legend>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.mu.label}}
                            </div>
                            <div class="col-11 mb-1">
                                {{form.mu}}
                                {% if form.mu.errors %}
                                {% for error in form.mu.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.volatility_t0.label}}
                            </div>
                            <div class="col-11 mb-1">
                                {{form.volatility_t0}}
                                {% if form.volatility_t0.errors %}
                                {% for error in form.volatility_t0.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.volatility_hat.label}}
                            </div>
                            <div class="col-11 mb-1">
                                {{form.volatility_hat}}
                                {% if form.volatility_hat.errors %}
                                {% for error in form.volatility_hat.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.chi.label}}
                            </div>
                            <div class="col-11 mb-1">
                                {{form.chi}}
                                {% if form.chi.errors %}
                                {% for error in form.chi.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.rho.label}}
                            </div>
                            <div class="col-11 mb-1">
                                {{form.rho}}
                                {% if form.rho.errors %}
                                {% for error in form.rho.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.lam.label}}
                            </div>
                            <div class="col-11 mb-1">
                                {{form.lam}}
                                {% if form.lam.errors %}
                                {% for error in form.lam.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-md-4 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Contract Parameters</legend>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.price.label}}
                                {{form.price}}
                                {% if form.price.errors %}
                                {% for error in form.price.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.time.label}}
                                {{form.time}}
                                {% if form.time.errors %}
                                {% for error in form.time.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.risk_free.label}}
                                {{form.risk_free}}
                                {% if form.risk_free.errors %}
                                {% for error in form.risk_free.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.dividend_yield.label}}
                                {{form.dividend_yield}}
                                {% if form.dividend_yield.errors %}
                                {% for error in form.dividend_yield.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-4 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Strike Price Range & Option Type</legend>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.strike_min.label}}
                                {{form.strike_min}}
                                {% if form.strike_min.errors %}
                                {% for error in form.strike_min.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.strike_max.label}}
                                {{form.strike_max}}
                                {% if form.strike_max.errors %}
                                {% for error in form.strike_max.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-1">
                                {{form.call_put.label}}
                                {{form.call_put}}
                                {% if form.call_put.errors %}
                                {% for error in form.call_put.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>
        </form>
    </div>

    {% if plot_return_underlying_distribution != None %}
    <div class="row p-3 d-flex justify-content-center">

         {%if sim_id != None %}
            <div>
            <a href="/download_heston_data/{{sim_id}}" class="download_data">
                Click here to download the distribution</a>
        </div>
        {% endif %}
        <div class="col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <table class="table table-striped">
                    <div class="row border-bottom mb-2 pb-1">
                        <legend>Table of Moments</legend>
                    </div>
                    <thead>

                    <th scope="col"> Mean</th>
                    <th scope="col"> Variance</th>
                    <th scope="col"> Skewness</th>
                    <th scope="col"> Kurtosis</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{mean}}</td>
                        <td>{{variance}}</td>
                        <td>{{skewness}}</td>
                        <td>{{kurtosis}}</td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>

        <div class="col-12 d-flex mb-3 justify-content-center">
            <div id="button_view_details" class="popup_table_open">
                {{form.button_view_details}}
            </div>
        </div>

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Pdf Underlying Asset</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_return_underlying_distribution[0]|safe}}
                    {{plot_return_underlying_distribution[1]|safe}}
                </div>
            </fieldset>
        </div>

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied Volatility Profile</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_implied_volatility[0]|safe}}
                    {{plot_implied_volatility[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>
    {% endif%}
    <div id="popup_table">

        <div class="row border-bottom mb-2 pb-1">
            <legend>Table of Volatility & Prices</legend>
        </div>
        <div class="table_wrapper">
            <table class="table table-striped table-hover" id="table_export">
                <thead>
                <th scope="col"> Strike</th>
                <th scope="col"> Prices</th>
                <th scope="col"> Implied Volatility</th>
                </thead>
                <tbody>
                {%for i in range(number_of_strike)%}
                <tr>
                    <td>{{strike[i]}}</td>
                    <td>{{option_prices[i]}}</td>
                    <td>{{implied_volatility[i]}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row d-flex justify-content-center">
            {{form.button_export_table}}
        </div>
    </div>
</div>


{% include 'footer.html' %}
</body>
</html>
