{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Return Data Statistics - {{ticker}}</h1>

        </div>
    </div>
</div>

<div class="container">


    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Log-Returns</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_log_returns[0]|safe}}
                    {{plot_log_returns[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>QQ Plot</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_qq[0]|safe}}
                    {{plot_qq[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Density</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_histogram[0]|safe}}
                    {{plot_histogram[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Autocorrelation of Log-Returns</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_autocorrelation[0]|safe}}
                    {{plot_autocorrelation[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    <!--<div class="row d-flex justify-content-center">-->
    <!--<div class=" col-12">-->
    <!--<fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">-->
    <!--<div class="row border-bottom mb-2 pb-1">-->
    <!--<legend>Autocorrelation of Squared Log-Returns</legend>-->
    <!--</div>-->
    <!--<div class="d-flex justify-content-center plot">-->
    <!---->
    <!--</div>-->
    <!--</fieldset>-->
    <!--</div>-->
    <!--</div>-->

</div>

{% include 'footer.html' %}

</body>
</html>
