{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Portfolio Analysis</h1>
            <h2 class="lead text-center text-light animated fadeInDown"> -- </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="" enctype="multipart/form-data">
            <div class="example_file">
                <a href="/static/download_example/dataset_portfolio_analysis.xlsx">
                    Excel Template File: Portfolio Analysis Dataset.xlsx</a>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Contract Parameters</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.file_data.label}}
                                {{form.file_data}}
                                {% if form.file_data.errors %}
                                {% for error in form.file_data.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1 container_model">
                                {{form.file_name.label}}
                                <div id="icon_help_dataset">
                                    <img src="/static/icon_help.png">
                                    <div class="model_formula" id="help_dataset">
                                        To identify the dataset
                                    </div>
                                </div>
                                {{form.file_name}}
                                {% if form.file_name.errors %}
                                {% for error in form.file_name.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.n_portfolio.label}}
                                {{form.n_portfolio}}
                                {% if form.n_portfolio.errors %}
                                {% for error in form.n_portfolio.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>
        </form>
    </div>

    <div class="row p-3 d-flex justify-content-center">
        {% if plot_efficient_frontier != None %}

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Efficient Frontier</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_efficient_frontier[0]|safe}}
                    {{plot_efficient_frontier[1]|safe}}
                </div>
            </fieldset>
        </div>

        <div class=" col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Efficient Frontier Weights</legend>
                </div>
                <div class="d-flex justify-content-center plot">
                    {{plot_efficient_weights[0]|safe}}
                    {{plot_efficient_weights[1]|safe}}
                </div>
            </fieldset>
        </div>
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}

<script charset="utf-8" type="text/javascript">
    $(function(){
        var help_dataset = $('#help_dataset').first();
        var icon_help_dataset = $('#icon_help_dataset');

        icon_help_dataset.on('mouseenter', function(){
            help_dataset.show();
        });

        icon_help_dataset.on('mouseleave', function() {
            help_dataset.hide();
        });
    });














































</script>
</body>
</html>
