{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Shimko Bounds of probability</h1>
            <h2 class="lead text-center text-light animated fadeInDown">This function computes the theoretical bounds of
                probability</h2>
        </div>
    </div>
</div>

<!-- CONTAINER -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="">

            <!-- FIRST ROW -->
            <div class="row">

                <!-- STRIKE -->
                <div class="col-6">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft custom-overlay">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Strike</legend>
                        </div>

                        <!-- MIN -->
                        <div class="row">
                            <div class="col mb-1">
                                <label>Min</label>
                                {{ (form.strike_min) }}
                                {% if form.strike_min.errors %}
                                {% for error in form.strike_min.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- ATM -->
                        <div class="row">
                            <div class="col mb-1">
                                <label>Atm</label>
                                {{ (form.strike_atm) }}
                                {% if form.strike_atm.errors %}
                                {% for error in form.strike_atm.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- MAX -->
                        <div class="row">
                            <div class="col mb-1">
                                <label>Max</label>
                                {{ (form.strike_max) }}
                                {% if form.strike_max.errors %}
                                {% for error in form.strike_max.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>

                </div> <!-- /col strike -->
                <!-- IMPLIED VOLATILITY % -->
                <div class="col-6">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight custom-overlay">
                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Implied Volatility \((\%) \)</legend>
                        </div>

                        <!-- MIN -->
                        <div class="row">
                            <div class="col mb-1">
                                <label>Min</label>
                                {{ (form.volatility_min) }}
                                {% if form.volatility_min.errors %}
                                {% for error in form.volatility_min.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- ATM -->
                        <div class="row">
                            <div class="col mb-1">
                                <label>Atm</label>
                                {{ (form.volatility_atm) }}
                                {% if form.volatility_atm.errors %}
                                {% for error in form.volatility_atm.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- MAX -->
                        <div class="row">
                            <div class="col mb-1">
                                <label>Max</label>
                                {{ (form.volatility_max) }}
                                {% if form.volatility_max.errors %}
                                {% for error in form.volatility_max.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </fieldset>
                </div> <!-- /col implied volatility -->

            </div>


            <!-- SECOND ROW -->
            <div class="row">

                <!-- OTHER FOUR -->
                <div class="col-md-8 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft custom-overlay">
                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Contract Parameters</legend>
                        </div>
                        <!-- SPOT PRICE -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.price.label}}
                                {{form.price}}
                                {% if form.price.errors %}
                                {% for error in form.price.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- TIME TO EXPIRATION -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.time.label}}
                                {{form.time}}
                                {% if form.time.errors %}
                                {% for error in form.time.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- RISK FREE -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.risk_free.label}} \((\%) \)
                                {{form.risk_free}}

                                {% if form.risk_free.errors %}
                                {% for error in form.risk_free.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- DIVIDEND YELD -->
                        <div class="row">
                            <div class="col mb-2">
                                {{form.div_yield.label}} \((\%) \)
                                {{form.div_yield}}

                                {% if form.div_yield.errors %}
                                {% for error in form.div_yield.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div> <!-- /col other four -->

                <div class="col-md-4 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInUp custom-overlay">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Plot Selector</legend>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{form.plot_choice}}
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>

            <!-- COMPUTE -->
            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>

        </form>
    </div> <!-- /row justify-content-center -->

    <div class="row d-flex justify-content-center">
        <!-- RESULTS -->
        {% if plot_implied_volatility != None %}
        <div class="col-md-4 col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Results</legend>
                </div>

                <!--Smile -->
                <div class="row">
                    <div class="col-12">
                        <h6>Fitted Volatility Smile </h6>
                        \(a_{0}+a_{1}\cdot k+a_{2}\cdot k^{2}\)
                        <hr>
                        <p class="font-weight-light"> \(a_{0}\): {{a0}}</p>
                        <p class="font-weight-light"> \(a_{1}\): {{a1}}</p>
                        <p class="font-weight-light"> \(a_{2}\): {{a2}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col d-flex mb-3 justify-content-center">
                        <div id="button_view_details" class="popup_table_open">
                            {{form.button_view_details}}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="col-md-8 col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Kolmogorov Smirnov Test</legend>
                </div>
                <table class="table">
                    <thead class="thead-light">
                    <th scope="col"></th>
                    <th scope="col"> Cdf Prices</th>
                    <th scope="col"> Cdf Returns</th>
                    </thead>

                    <tbody>
                    <tr>
                        <td> Statistic Value</td>
                        <td> {{statistic_prices}}</td>
                        <td> {{statistic_returns}}</td>

                    </tr>
                    <tr>
                        <td> PValue</td>
                        <td> {{pvalue_prices}}</td>
                        <td> {{pvalue_returns}}</td>

                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="unresponsive col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied Volatility Profile</legend>
                </div>
                <div id="plot_implied_volatility" class="d-flex justify-content-center">
                    {{plot_implied_volatility[0]|safe}}
                    {{plot_implied_volatility[1]|safe}}
                </div>
            </fieldset>
        </div>

        <div class="unresponsive col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied CEQ Returns Distribution</legend>
                </div>
                <div id="plot_return_distribution" class="d-flex justify-content-center">
                    {{plot_return_distribution[0]|safe}}
                    {{plot_return_distribution[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>

    {%if plot_index_distribution != None%}
    <div class="row d-flex justify-content-center">
        <div class="unresponsive col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied CEQ index distribution</legend>
                </div>
                <div id="plot_index_distribution" class="d-flex justify-content-center">
                    {{plot_index_distribution[0]|safe}}
                    {{plot_index_distribution[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>
    {%endif%}

    {%if plot_index_cdf != None%}
    <div class="row d-flex justify-content-center">
        <div class="unresponsive col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied CEQ Prices CDF</legend>
                </div>
                <div id="plot_index_cdf" class="d-flex justify-content-center">
                    {{plot_index_cdf[0]|safe}}
                    {{plot_index_cdf[1]|safe}}
                </div>
            </fieldset>
        </div>
    </div>
    {%endif%}

    {%if plot_return_cdf != None%}
    <div class="row d-flex justify-content-center">
        <div class="unresponsive col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Implied CEQ Returns CDF</legend>
                </div>
                <div id="plot_return_cdf" class="d-flex justify-content-center">
                    {{plot_return_cdf[0]|safe}}
                    {{plot_return_cdf[1]|safe}}
                </div>
            </fieldset>
        </div>

    </div>
    {%endif%}

    {% endif %}
</div> <!-- /container -->

<div id="popup_table" style="display:none">

    <div class="row border-bottom mb-2 pb-1">
        <legend>Table of Moments</legend>
    </div>
    <table class="table" id="table_export">
        <thead class="thead-light">
        <th scope="col"> Description</th>
        <th scope="col"> Ceq</th>
        <th scope="col"> LogNormal</th>
        <th scope="col"> Ceq Return</th>
        <th scope="col"> Normal</th>
        </thead>
        <tbody>
        <tr>
            <td> Area</td>
            <td> {{area_prices}}</td>
            <td> 1</td>
            <td> {{area_returns}}</td>
            <td> 1</td>
        </tr>
        <tr>
            <td> Mean</td>
            <td> {{expected_price}}</td>
            <td> {{expected_price}}</td>
            <td> {{m1_returns}}</td>
            <td> {{m1_returns}}</td>
        </tr>
        <tr>
            <td> Variance</td>
            <td> {{sigma2_price}}</td>
            <td> {{sigma2_price}}</td>
            <td> {{m2_returns}}</td>
            <td> {{m2_returns}}</td>
        </tr>
        <tr>
            <td> Skewness</td>
            <td> {{skewness_prices}}</td>
            <td> {{skewness_prices_log_n}}</td>
            <td> {{skewness_log_returns}}</td>
            <td> {{skewness_normal}}</td>
        </tr>
        <tr>
            <td> Kurtosis</td>
            <td> {{kurtosis_prices}}</td>
            <td> {{kurtosis_prices_log_n}}</td>
            <td> {{kurtosis_log_returns}}</td>
            <td> {{kurtosis_normal}}</td>
        </tr>
        </tbody>
    </table>

    <div class="row d-flex justify-content-center">
        {{form.button_export_table}}
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>
