{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Shimko Bounds of probability</h1>
            <h2 class="lead text-center text-light animated fadeInDown">This function computes the bounds of
                probability:</h2>
        </div>
    </div>
</div>

<!-- CONTAINER -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="" enctype="multipart/form-data">

            <!-- FIRST ROW -->
            <div class="row">

                <!-- STRIKE -->
                <div class="col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown custom-overlay">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Contract Parameters</legend>
                        </div>

                        <!-- FILE NAME -->
                        <div class="row">
                            <div class="col mb-1">
                                {{form.file_name.label}}
                                {{form.file_name}}
                                {% if form.file_name.errors %}
                                {% for error in form.file_name.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- PRICE -->
                        <div class="row">
                            <div class="col mb-1">
                                {{form.price.label}}
                                {{form.price}}
                                {% if form.price.errors %}
                                {% for error in form.price.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- RISK -->
                        <div class="row">
                            <div class="col mb-1">
                                {{form.risk_dividend.label}}
                                {{form.risk_dividend}}
                            </div>
                        </div>
                    </fieldset>
                </div>

                <!-- EXTRA -->
                <div id="risk_free" class="col-12" {% if form.risk_dividend.data !='0' %} style="display:none"
                     {%endif%}>
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown custom-overlay">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>interest rate & Dividend Yield</legend>
                        </div>


                        <!-- MIN -->
                        <div class="row">
                            <div class="col mb-1">
                                {{form.risk_free.label}} \((\%) \)
                                {{form.risk_free}}
                                {% if form.risk_free.errors %}
                                {% for error in form.risk_free.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!-- ATM -->
                        <div class="row">
                            <div class="col mb-1">
                                {{form.div_yield.label}} \((\%) \)
                                {{form.div_yield}}
                                {% if form.div_yield.errors %}
                                {% for error in form.div_yield.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>


            <!-- SECOND ROW -->
            <div class="row">

                <!-- OTHER FOUR -->
                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInLeft custom-overlay">
                        <!-- interest rate -->
                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Contract Parameters</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-2">
                                {{form.call_put_flag}}
                                {% if form.call_put_flag.errors %}
                                {% for error in form.call_put_flag.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div> <!-- /col other four -->

                <!-- PLOT -->
                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInRight custom-overlay">
                        <!-- PLOT LIST-->
                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Plot Selector</legend>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{form.plot_choice}}
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>


            <!-- COMPUTE -->
            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>

        </form>
    </div> <!-- /row justify-content-center -->

    <div class="row p-3 d-flex justify-content-center">
        <!-- RESULTS -->
        {% if plot_implied_volatility != None %}
        <div class="col-md-4 col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Results</legend>
                </div>

                <!--Smile -->
                <div class="row">
                    <div class="col-12">
                        <p class="h6 font-weight-bold">Fitted Volatility Smile \(a_{0}+a_{1}\cdot k+a_{2}\cdot
                            k^{2}\)</p>
                        <hr>
                        <p class="font-weight-light"> \(a_{0}\): {{a0}}</p>
                        <p class="font-weight-light"> \(a_{1}\): {{a1}}</p>
                        <p class="font-weight-light"> \(a_{2}\): {{a2}}</p>
                        <p class="font-weight-light"> \(R^{2}\): {{r2}}</p>

                        {%if form.risk_dividend.data == '1'%}
                        <span> interest rate \((\%)\): {{risk_free}}</span> <br/><br/>
                        <span> Dividend Yield \((\%)\): {{div_yield}}</span>
                        {%endif%}
                        <hr>
                        <h6><span> File Name: {{file_name}}</span></h6>
                    </div>

                </div>
            </fieldset>
        </div>


        <div class="col-md-8 col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeIn">
                <div class="row border-bottom mb-2 pb-1">
                    <legend>Kolmogorov Smirnov Test</legend>
                </div>
                <table class="table">
                    <thead class="thead-light">
                    <th scope="col"></th>
                    <th scope="col"> Cdf Prices</th>
                    <th scope="col"> Cdf Returns</th>
                    </thead>

                    <tbody>
                    <tr>
                        <td> Statistic Value</td>
                        <td> {{statistic_prices}}</td>
                        <td> {{statistic_returns}}</td>

                    </tr>
                    <tr>
                        <td> PValue</td>
                        <td> {{pvalue_prices}}</td>
                        <td> {{pvalue_returns}}</td>

                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex mb-3 justify-content-center">
            <div id="button_view_details" class="popup_table_open">
                {{form.button_view_details}}
            </div>
        </div>
    </div>

    <!-- BOKEH PLOTS -->
    <div class="row d-flex justify-content-center">
        <div class="col-12 plot">
            <div id="plot_implied_volatility" class="shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
                {{plot_implied_volatility[0]|safe}}
                {{plot_implied_volatility[1]|safe}}
            </div>
        </div>

        <div class="col-12 plot">
            <div id="plot_return_distribution"
                 class="shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
                {{plot_return_distribution[0]|safe}}
                {{plot_return_distribution[1]|safe}}
            </div>
        </div>
    </div>

    {%if plot_index_distribution != None%}
    <div class="row d-flex justify-content-center">
        <div class="col-12 plot">
            <div id="plot_index_distribution" class="shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
                {{plot_index_distribution[0]|safe}}
                {{plot_index_distribution[1]|safe}}
            </div>
        </div>
    </div>
    {%endif%}

    <div class="row d-flex justify-content-center">
        {%if plot_index_cdf != None%}
        <div class="col-12 plot">
            <div id="plot_index_cdf" class="shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
                {{plot_index_cdf[0]|safe}}
                {{plot_index_cdf[1]|safe}}
            </div>
        </div>
        {%endif%}
        {%if plot_return_cdf != None%}
        <div class="col-12 plot">
            <div id="plot_return_cdf" class="shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-center">
                {{plot_return_cdf[0]|safe}}
                {{plot_return_cdf[1]|safe}}
            </div>
        </div>
        {%endif%}
    </div>

    {% endif %}
</div> <!-- /container -->

<div id="popup_table" style="display:none">

    <div class="row border-bottom mb-2 pb-1">
        <legend>Table of moments</legend>
    </div>
    <table class="table" id="table_export">
        <thead class="thead-light">
        <th scope="col"> Description</th>
        <th scope="col"> Ceq</th>
        <th scope="col"> LogNormal</th>
        <th scope="col"> Ceq Return</th>
        <th scope="col"> Normal</th>
        </thead>
        <tbody>
        <tr>
            <td> Area</td>
            <td> {{area_prices}}</td>
            <td> 1</td>
            <td> {{area_returns}}</td>
            <td> 1</td>
        </tr>
        <tr>
            <td> Mean</td>
            <td> {{expected_price}}</td>
            <td> {{expected_price}}</td>
            <td> {{m1_returns}}</td>
            <td> {{m1_returns}}</td>
        </tr>
        <tr>
            <td> Variance</td>
            <td> {{sigma2_price}}</td>
            <td> {{sigma2_price}}</td>
            <td> {{m2_returns}}</td>
            <td> {{m2_returns}}</td>
        </tr>
        <tr>
            <td> Skewness</td>
            <td> {{skewness_prices}}</td>
            <td> {{skewness_prices_log_n}}</td>
            <td> {{skewness_log_returns}}</td>
            <td> {{skewness_normal}}</td>
        </tr>
        <tr>
            <td> Kurtosis</td>
            <td> {{kurtosis_prices}}</td>
            <td> {{kurtosis_prices_log_n}}</td>
            <td> {{kurtosis_log_returns}}</td>
            <td> {{kurtosis_normal}}</td>
        </tr>
        </tbody>
    </table>
    <div class="row d-flex justify-content-center">

        {{form.button_export_table}}

    </div>
</div>

{% include 'footer.html' %}

<script charset="utf-8" type="text/javascript">
    $(function(){
        var select_risk_dividend = $('#risk_dividend');
        var risk_free = $('#risk_free');

        select_risk_dividend.on('click', function() {
            if ($('[name=risk_dividend]:radio:checked').val() == '0') {
                risk_free.show();
            } else {
                risk_free.hide();
            }
        });
    });



</script>
</body>
</html>