{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col p-3 m-4">
            <h1 class="title text-center text-light">Return Data Statistics</h1>
            <h2 class="lead text-center text-light animated fadeInDown"> Statistical Analysis of Returns </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="" method="post" action="" enctype="multipart/form-data">
            <div class="example_file">
                <a href="/static/download_example/dataset_statistical_analysis.xlsx">
                    Excel Template File: Return Data Statistics Dataset.xlsx</a>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Method</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.method_choice.label}}
                                {{form.method_choice}}
                            </div>
                        </div>


                    </fieldset>
                </div>

                <div class="col-md-6 col-12" id="import_file" {% if form.method_choice.data !='0' %}
                     style="display:none"
                     {%endif%}>

                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Import Prices</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.file_data.label}}
                                {{form.file_data}}
                                {% if form.file_data.errors %}
                                {% for error in form.file_data.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-1 container_model">
                                {{form.file_name.label}}
                                <div id="icon_help_dataset">
                                    <img src="/static/icon_help.png">
                                    <div class="model_formula" id="help_dataset">
                                        To identify the dataset
                                    </div>
                                </div>
                                {{form.file_name}}
                                {% if form.file_name.errors %}
                                {% for error in form.file_name.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </fieldset>
                </div>
                <div class="col-md-6 col-12" id="tickers" {% if form.method_choice.data !='1' %} style="display:none"
                     {%endif%}>
                    <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown ">

                        <div class="row border-bottom mb-2 pb-1">
                            <legend>Yahoo Tickers</legend>
                        </div>

                        <div class="row">
                            <div class="col mb-1">
                                {{form.flist}}
                                {% if form.flist.errors %}
                                {% for error in form.flist.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <!--<div class="col mb-1">-->
                                <!--{{form.button_delete_field}}-->
                            <!--</div>-->
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                {{form.button_add_field}}
                            </div>
                        </div>

                        <label> Start Date</label>
                        <div class="row">
                            <div class="col-4 mb-1">
                                {{form.start_day.label}}
                                {{form.start_day}}
                                {% if form.start_day.errors %}
                                {% for error in form.start_day.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-4 mb-1">
                                {{form.start_month.label}}
                                {{form.start_month}}
                                {% if form.start_month.errors %}
                                {% for error in form.start_month.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-4 mb-1">
                                {{form.start_year.label}}
                                {{form.start_year}}
                                {% if form.start_year.errors %}
                                {% for error in form.start_year.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <label> End Date</label>
                        <div class="row">
                            <div class="col-4 mb-1">
                                {{form.end_day.label}}
                                {{form.end_day}}
                                {% if form.end_day.errors %}
                                {% for error in form.end_day.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-4 mb-1">
                                {{form.end_month.label}}
                                {{form.end_month}}
                                {% if form.end_month.errors %}
                                {% for error in form.end_month.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-4 mb-1">
                                {{form.end_year.label}}
                                {{form.end_year}}
                                {% if form.end_year.errors %}
                                {% for error in form.end_year.errors %}
                                <div style="color: red;">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    {{form.button_compute}}
                </div>
            </div>
        </form>
    </div>

    <div class="row p-3 d-flex justify-content-center">
        {% if tickers != None %}
        <div class="col-12">
            <fieldset class="shadow-sm p-3 bg-white rounded animated fadeInDown">
                <table class="table table-striped table-hover" id="table_export">
                    <div class="row border-bottom mb-2 pb-1">
                        <legend>Statistical Analysis (Returns)</legend>
                    </div>
                    <thead>
                    <th scope="col"> Tickers</th>
                    <th scope="col"> Mean</th>
                    <th scope="col"> Volatility</th>
                    <th scope="col"> Variance</th>
                    <th scope="col"> Skewness</th>
                    <th scope="col"> Kurtosis</th>
                    <th scope="col"> Min Return</th>
                    <th scope="col"> Max Return</th>
                    <th scope="col"> Jb Test</th>
                    <th scope="col"> P-value</th>
                    </thead>

                    <tbody>
                    {%for i in range(number_of_tickers)%}
                    <tr>
                        <td><a href="plot_statistical_analysis"> {{tickers[i]}} </a></td>
                        <td>{{mean[i]}}</td>
                        <td>{{volatility[i]}}</td>
                        <td>{{variance[i]}}</td>
                        <td>{{skewness[i]}}</td>
                        <td>{{kurtosis[i]}}</td>
                        <td>{{min_return[i]}}</td>
                        <td>{{max_return[i]}}</td>
                        <td>{{jb_test[i]}}</td>
                        <td>{{pvalue[i]}}</td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
                <hr>
                <div class="row d-flex justify-content-center">
                    {{form.button_export_table}}
                </div>
            </fieldset>
        </div>
        {% endif %}
    </div>

</div>
{% include 'footer.html' %}

<script charset="utf-8" type="text/javascript">
    $(function(){
        var select_method_choice = $('#method_choice');
        var import_file = $('#import_file');
        var ticker = $('#tickers');

        select_method_choice.on('click', function() {
            if ($('[name=method_choice]:radio:checked').val() == '0') {
                import_file.show();
                ticker.hide();
            } else {
                import_file.hide();
                ticker.show();
            }
        });

        var help_dataset = $('#help_dataset');
        var icon_help_dataset = $('#icon_help_dataset');

        icon_help_dataset.on('mouseenter', function(){
            help_dataset.show();
        });

        icon_help_dataset.on('mouseleave', function() {
            help_dataset.hide();
        });
    });

    $(document).ready(function() {
        var field_number = 1;

        $('#button_add_field').click(function() {
        var new_input = $("<input required type='text' ></input>")
            .attr('id', 'flist-' + field_number)
            .attr('name', 'flist-' + field_number)
        var new_button = $("<input required type='submit' ></input>")
            .attr('id', 'button_delete_field-' + field_number)
            .attr('name', 'button_delete_field-' + field_number)

        $('#flist').append(new_input);
        $('#button_delete_field').append(new_button);
        field_number++;
        });

    });

    $(document).ready(function() {
        var select_method_choice = $('#method_choice');
        $('#button_compute').prop('disabled', true);

        select_method_choice.on('click', function() {
            if ($('[name=method_choice]:radio:checked').val() != '') {
                $('#button_compute').prop('disabled', false)
            }
        });
    });




</script>

</body>
</html>
