@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

html{
    height: 100%;
}

.lightbg{
        background-color:#fafafa;
}

body{
    background-color:#1E1E1E;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Helvetica', sans-serif;
     -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
}

dl, ol, ul{
    margin-bottom: 0px !important;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-size: 14px !important;
        font-weight: normal;
}

h3 {
    font-size: 16px !important;
        color: #FFFFFF;
        font-weight: normal;
}

h6{
    font-size: 14px;
        color: #1E1E1E;
    font-variant: small-caps;
        font-weight: bold;
}

p {
    font-size: 16px;
    color: #1E1E1E;
}

table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    vertical-align: middle !important;
}

label {
    text-transform: uppercase;
    font-size: 11px;
    color: #1E1E1E;
    font-weight: normal;
}

span {
    font-size: 13px;
    font-weight: 500;
}

td {
    font-size: 14px;
    color: inherit;
    vertical-align: middle !important;
}
th {
    font-size: 14px;
    color: inherit;
    font-weight: bold;
    vertical-align: middle !important;
}

hr {
    border-top: 1px solid rgba(171,182,186, 1);
}

legend {
    font-family: 'Source Serif Pro', serif !important;
    float: left !important;
    font-size: 16px;
    width: auto;
    padding: 2px 7px 2px 5px;
    line-height: inherit;
    color: #1E1E1E;
    margin-bottom: 0;
    font-weight:600;
}

input[type=text], input[type=number], input[type=time], input[type=password], input[type=email]{
    width: 100%;
    border: 2px solid #d0e3e5;
    padding: 3px;
    border-radius: 5px;
    background-color: #F1F4F6;
    border-color: #daedef;
}

input[type=file]{
    padding: 3px;
    margin: 0px 10px 0px 10px;
    font-size: 14px;
}

input[type=text]:focus, input[type=number]:focus, input[type=time]:focus, input[type=password]:focus, input[type=email]:focus{
    border-color: #d0e3e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #d0e3e5;
  outline: 0 none;
}

input[type=submit] {
    background-color: #C8202E;
    color: white;
    border-radius: 4px;
    border: 0px;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #BF1F2D;
}

form{
    width: 100%;
}

#user_form{
    width: 300px;
}

#plot_choice {
    margin: 0;
    padding: 0;;
    list-style-position: inside;
    list-style: none;
}
#previous{
    width: 100% !important;
}

#home {
    text-align: center;
   position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.unresponsive{
    min-width:720px !important;
}

.container {
    margin: 0 auto;
}

.row{
    margin: 0 auto; !important;
}

.col, .col-6, .col-md-4, .col-md-8, .col-12, .col-11, .col-sm {
    margin: 0 auto !important;
    padding: 7px;
    overflow: hidden;
}

.row.border-bottom {
    border-bottom: 1.5px solid #C8202E!important;
}

#sidebar-wrapper{
  z-index:1;
  position: absolute;
  width:0;
  height:100%;
  overflow-y:hidden;
  background: #5b4282;
  opacity:0.9;
	transition:all .5s;
	display:flex;
	align-items:center;
}

#wrapper.menuDisplayed #sidebar-wrapper{
  width:250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left:250px;
}
    

.navbar-brand{
    color: #C8202E !important;
}

.navbar-text {
    font-size: 14px;
}

.lead{
    color: #D1CFCB !important;
    font-size: 16px;
}

.nav-link{
    color: #D1CFCB !important;
    font-size: 14px;
    font-weight:400 !important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.nav-link:hover{
    color: #ffffff !important;
}

#call_put li {
    display: block;
    padding-right: 1rem;
}

.popup_content {
    margin: 10px;
    padding: 25px;
    border: none;
    background: white;
    border-radius: 5px;
    align-content: center;
    max-width:700px !important;
}

.popup_content > table {
    margin: auto;
    align-content: center;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    font-weight: 700;
}

.mjx-char {
    font-size: 15px !important;
}

.mjx-chtml {
    text-align: left !important;
}

.firstsection {

    text-align: center;
}

.firstsection a{
font-family: Catamaran;
      font-weight: 700;    font-size: 2.5vw;

    color: #838690;
    text-decoration: none;
        text-transform: uppercase;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer;
      padding:5rem;
}



.firstsection a:hover{
  letter-spacing: 1vw; 
color: white;
font-size: 2.7vw;

}

.secondsection {

    text-align: center;
}

.secondsection a{
font-family: Catamaran;
      font-weight: 700;    font-size: 2.5vw;
    color: #838690;
    text-decoration: none;
        text-transform: uppercase;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer;
          padding:5rem;

}

.secondsection a:hover{
letter-spacing: 1vw; 
color: white;
font-size: 2.7vw;
}

.thirdsection {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.thirdsection a{
font-family: Catamaran;
      font-weight: 700;    font-size: 2.5vw;
    color: #838690;
    text-decoration: none;
        text-transform: uppercase;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer;
          padding:5rem;

}

.thirdsection a:hover{
  letter-spacing: 1vw; 
color: white;
font-size: 2.7vw;

}

