@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

html{
    height: 100%;
}

body{
    background: #1E1E1E;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Helvetica', sans-serif;
    position: relative;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-size: 14px !important;
        font-weight: normal !important;
}

h6{
    font-size: 14px;
        color: #1E1E1E;
    font-variant: small-caps;
        font-weight: bold;
}

dl, ol, ul{
    margin-bottom: 0px !important;
}

/*fieldset{
    background:linear-gradient(45deg, #D2D2D2, transparent);
}*/

table {
    table-layout: fixed;
    text-align: center;
    vertical-align: middle !important;
}

label {
    text-transform: uppercase;
    font-size: 11px;
    color: #1E1E1E;
    font-weight: normal;
}

span {
    font-size: 13px;
    font-weight: normal;
}

td {
    font-size: 14px;
    color: inherit;
    vertical-align: middle !important;
}
th {
    font-size: 14px;
    color: inherit;
    font-weight: bold;
    vertical-align: middle !important;
}

hr {
    border: 1px;
    height: 1px;
    background-image: linear-gradient(to right,  #ccc, #333, #ccc );
}

legend {
    font-family: 'Source Serif Pro', serif !important;
    float: left !important;
    font-size: 16px;
    width: auto;
    padding: 2px 7px 2px 5px;
    line-height: inherit;
    color: #1E1E1E;
    margin-bottom: 0;
    font-weight: bold;
}

input[type=text], input[type=number], input[type=time], input[type=password], input[type=email]{
    width: 100%;
    border: 2px solid #d0e3e5;
    padding: 3px;
    border-radius: 5px;
    background-color: #F1F4F6;
    border-color: #daedef;
}

input[type=file]{
    padding: 3px;
    margin: 0px 10px 0px 10px;
    font-size: 14px;
}

input[type=text]:focus, input[type=number]:focus, input[type=time]:focus, input[type=password]:focus, input[type=email]:focus{
    border-color: #d0e3e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #d0e3e5;
    outline: 0 none;
}

input[type=submit] {
    background-color: #C8202E;
    color: white;
    border-radius: 4px;
    border: 0px;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #BF1F2D;
}

form{
    width: 100%;
}

#user_form{
    width: 300px;
}

#plot_choice {
    margin: 0;
    padding: 0;;
    list-style-position: inside;
    list-style: none;
}

#home {
    text-align: center;
}

.container_home{
    position: absolute;
    top: 200px;
    left: 60px;
    right: 70px;
}

#home fieldset {
    height: 150px;
}

#home .line_height {
    justify-content:center;
    text-align: center;
    padding: 20px 0;
}

#home a{
    color: #1E1E1E;
    font-size: 14px;
    text-decoration: none !important;
}

#home a.mx-2.link_user{
    border: 1.5px solid;
    background: #C8202E;
    border-color: #C8202E;
    border-radius: 0.25rem;
    padding: 15px;
    display: inline-block;
    height: 60px;
    width: 200px;
    font-size: 20px;
    margin: 5px;
}

#home .line_text{
    display: inline-block;
    padding: 2px
}

#home .line_button{
    margin: 0 auto;
    background: #808080;
    width: 8em;
    height: 2px;
    transition: width 0.5s;
}

#home a.line_text:hover ~ div.line_button{
    width: 10em;
}

#home .button_container{
    margin: 50px 0;
}

#home a.mx-2{
    color:#ffffff;
    font-size: 13px;
}

.container {
    margin: 0 auto;
}

.row{
    margin: 0;
}

.col, .col-md-4, .col-md-8, .col-12, .col-11 {
    margin: 0 auto !important;
    padding: 7px;
    overflow: hidden;
}

.row.border-bottom {
    border-bottom: 1.5px solid #C8202E!important;
}

.navbar-brand{
    color: #C8202E !important;
}

.navbar-text {
    font-size: 14px;
}

.lead{
    color: #D1CFCB !important;
}

.nav-link{
    color: #D1CFCB !important;
    font-size: 14px;
    font-weight: normal !important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.nav-link:hover{
    color: #ffffff !important;
}

.popup_content {
    margin: 10px auto;
    padding: 25px;
    border: none;
    background: white;
    border-radius: 5px;
    align-content: center;
    max-width:700px;
    display: flex !important;
    flex-direction: column;
    max-height: calc(100% - 20px);
}

.popup_content table {
    margin: auto;
    align-content: center;
}

.popup_content .table_wrapper {
    flex: 1;
    overflow-y: scroll;
}

#popup_table_wrapper {
    overflow: hidden !important;
}

.popup_content hr {
    flex: none;
    width: 100%;
}

.plot {
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
}

#call_put_flag  {
    display: block;
    padding-right: 1rem;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
}

.mjx-char {
    font-size: 15px !important;
}

.mjx-chtml {
    text-align: center !important;
    font-weight: bold !important;
}



