@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

/* GENERAL */

html{
    height: 100%;
}

body{
    background: #1E1E1E;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Helvetica', sans-serif;
}

dl, ol, ul{
    margin-bottom: 0px !important;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    font-weight: 400;
}

h2 {
    font-size: 14px !important;
        font-weight: 200;
}

h6{
    font-size: 14px;
        color: #1E1E1E;
    text-transform: uppercase;
        font-weight: 600;

}

p {
    font-size: 16px;
    color: #1E1E1E;
}

table {
    table-layout:fixed;
    width:100%;
}

tr:nth-child(even){
    background-color:#F5F5F5;   /*colore alternato celle (even=righe pari, odd=righe dispari)*/
}

label {
    text-transform: uppercase;
    font-size: 12px;
    color: #1E1E1E;
    font-weight: 600;
}

td, th {
    font-size: 14px;
    color: inherit;
}

hr {
    border-top: 1px solid rgba(171,182,186, 1);
}

legend {
    font-family: 'Source Serif Pro', serif !important;
    float: left !important;
    font-size: 16px;
    width: auto;
    padding: 2px 7px 2px 5px;
    line-height: inherit;
    color: #1E1E1E;
    margin-bottom: 0;
    font-weight:600;
}

input[type=text], input[type=number], input[type=time], input[type=password], input[type=email]{
    width: 100%;
    border: 2px solid #d0e3e5;
    padding: 3px;
    border-radius: 5px;
    background-color: #F1F4F6;
    border-color: #daedef;
}

input[type=file]{
    padding: 3px;
    margin: 0px 10px 0px 10px;
    font-size: 14px;
}
    

input[type=text]:focus, input[type=number]:focus, input[type=time]:focus, input[type=password]:focus, input[type=email]:focus{
    border-color: #d0e3e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #d0e3e5;
  outline: 0 none;

}

input[type=submit] {
    background-color: #C8202E;
    color: white;
    border-radius: 4px;
    border: 0px;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #BF1F2D;
}

form{
    width: 80%;
}

.custom-overlay:hover{
    background-color: #f7feff !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#user_form{
    width: 300px;
}

#plot_choice {
    margin: 0;
    padding: 0;;
    list-style-position: inside;
    list-style: none;
}
#previous{
    width: 100% !important;
}

#home{
    width: 300px !important;
}

/* BOOSTRAP OVERRIDE */

.container{
    margin: 0 auto;
}

.row{
    margin: 0 auto; !important;
}

.col, .col-6, .col-md-4, .col-md-8, .col-12, .col-sm {
    margin: 0 auto !important;
    padding: 7px;
    overflow: hidden;

}

.row .border-bottom {
    border-bottom: 1.5px solid #C8202E!important;

}

.navbar-brand{
    color: #C8202E !important;
}

.lead{
    color: #D1CFCB !important;
    font-size: 16px;

}

.nav-link{
    color: #D1CFCB !important;
    font-size: 14px;
    font-weight:400 !important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.nav-link:hover{
    color: #ffffff !important;
}


/* POPUP */

.popup_content {
    margin: 10px;
    padding: 25px;
    border: none;
    background: white;
    border-radius: 5px;
    align-content: center;
    max-width:700px !important;
}

.popup_content > table {
    margin: 10px;
    align-content: center;
}

/* NAV */

.navbar {
    background-color: rgba(255, 255, 255, 0);
    font-weight: 700;
}


/* BOKEH */

.plot {
    overflow: hidden;
}

.MathJax_CHTML {
    font-size: 14px !important;
}

.bk{
      display: table;
      margin: 0 auto;
}

